p I made it to the annex. The barracks are right behind me, and I can hear voices from somewhere nearby.
p I’ll have to get inside quick or else I’m going to get spotted.
p Damn it, where is Atropos? He’s supposed to be my distraction!
p Oh man a huge contingent of guards is heading my way. There’s nowhere to hide. I’m caught.
p My back is to the door.
p Listen: whatever happens to me, just make sure to do what is right. Help people to see the right way, no matter–
p Hey!
p Oh crap.
p The door just opened behind me and I fell inside.
p And I’m looking right up at none other than Sascha.

chapter ../decisions/episode8-a
validOptions continue
- // talkOrOut