p Okay, I’m here. I’ve aligned myself on the far east side of the bridge. I can see the island in the distance.
p My stuff is packed in a buoyant bag and I’ve got a bodysuit on that should keep me warm enough to survive the trip.
p Should.
p Okay. I’m going in.
p HOLY CRAP THAT’S COLD. Crap crap crap.
p Augh where does this river come from, a bunch of glaciers filled with liquid nitrogen?!
p I’m gonna miss all these fingers and toes after they drop off.
p Jiminy.
p Okay. Give me a few minutes to dogpaddle to the other side.
p Providing I don’t become an icicle first.
wait 900
p I made it. Oh my goodness the shore never looked so sweet. I would kiss it but it’s made of shore.
p The bad news is that I’m a little way off from the main compound. The good news is that the island is joined to the mainland by a narrow isthmus. 
p I can just walk right across.
p There is a guard shack some distance away, but it ain’t turned in this direction.
p Guess they never figured anyone would be foolish enough to swim it, huh?
p I’d laugh but my teeth are chattering too badly.
p Okay. I’m up. Gonna head across the isthmus now. I’ll let you know when I’ve made landfall.

chapter ../decisions/episode8-a
validOptions continue
- // tooEasy