p Okay, the door is partway open. There isn’t any light inside.
p I’m heading in.
p It looks like the power failure took out all the security doors. Small favors.
p But that means that the guards might be close behind. Gotta move fast.
p Yes! It looks like there’s a records room just ahead. The door is ajar.
p But there’s a light on inside. I’m going to sneak up and make sure there’s no one inside.
p Dammit.
p I heard something.
p There’s someone on the other side of the door. I think they heard me.
p They’ve stopped moving too.
p It’s stalemate. If I wait here too long, someone is going to come along and find me here.
p I need to go. I’ll just.
p Crap. The door just swung open.
p And the person inside the records room? It’s Sascha.
p She looks pretty surprised to see me. And maybe not in a good way. I don’t think she’s supposed to be in here.
p Which means we’re both in trouble if we get caught.

chapter ../decisions/episode8-a
validOptions continue
- // talkOrOut