p Okay, here we go.
p It’s pretty dark out here. The guard shack is all lit up from the inside, but I don’t see anyone.
p There aren’t even any sensor drones. At least none that I can see. I have my farraday jacket on, and I shouldn’t be showing up on thermal or millimeter-wave.
p Shouldn’t.
p Okay, I’m closing in on the shack.
p Crap!
p A guard just came out of the shack and is heading in my direction.
p He’s wearing some sort of sensor glasses and he’ll be on me in a second.
p I can see across the gap to the west lane.
p I think if I jump I can make it.
p Should I jump or try and sneak past him[?]

chapter ../decisions/episode8-a
validOptions jump, sneak
- // jumpClotho, jumpAtropos
- // sneakPast