p Ha! And here Atropos had me thinking that you were all grit and vinegar. But you’re all patient and thoughtful. He’ll be so disappointed.

chapter ../decisions/episode8-a
validOptions continue
- // gateOpening