wait 900
p Okay! The gate is opening. I’m making my move.
p Unfff. Ow. That fence was taller than I thought.
p I’m on the other side but a guard is coming my way. Crap crap crap. Hang on.
p Okay. Good news/bad news.
p The good news is that I slipped past him in the dark. The bad news is that his partner came up the fence line in the opposite direction.
p So I did the only thing I could do and dodged inside the shack.
p Where I’m now trapped in a closet. Like a common broom.
p But I have a plan. I’m gonna contact Atropos and have him cut the power for the whole compound. Just for a sec.
p Then I can charge past both the guards and make it to the main road.
p Oy. I’m never gonna hear the end of this.

chapter ../decisions/episode8-a
validOptions continue
- // thanksgiving