p Me: We need to go. Now.
p Sascha: Who the hell are you?
p Me: Clotho. Lachesis sent me to pull you out. She said you were in danger.
p Sascha: Shit. Shit!
p Me: What?
p Sascha: You don’t get it. You have to run. I’m not–

chapter ../decisions/episode8-a
validOptions continue
- // holyCrap