p I reach out for her arm but she smacks me away.
p Me: It’s not safe here! You might be compromised!
p Sascha: You don’t get it! I didn’t stop sending messages because I was compromised.

chapter ../decisions/episode8-a
validOptions continue
- // youWere