p HOLY CRAP
p The guard quarters just exploded! I guess Atropos figured out a diversion after all.
p Sascha: Go! Now! if they catch you here they will blame YOU for this.
p Damn it. Should I try and grab her or just run[?]

chapter ../decisions/episode8-a
validOptions grab her, run
- // grabHer, justRun