p Okay ow. Ow ow ow.
p Little note: concrete is hard. I made the gap but caught my foot on a piece of loose paving. My ankle is gonna be the size of a melon come morning.
p But I’m across and the guard didn’t see/hear me.
p Yes. Clotho. Activist. Spy. Acrobat. Makes excellent peanut butter toast.
p I’m the whole package.
p Okay, enough self-adulation.
p I’m up. Going to make my way to the far end of the bridge. I’ll contact you then.
wait 900

chapter ../decisions/episode8-a
validOptions continue
- // tooEasy