p Take a look at the map.
p I really have two options of approach. I can try and head across the river via bridge, or try and make it past the fence to the south.
p Both present challenges. The north route is wider, but has more guards. The south route has fewer guards but a big-ass fence in the way.
p An electric fence. Full of electricity.
p I am so completely allergic to electricity. Makes me break out in death. But maybe we can find a way around it.
p It’s up to you. Which way do you want to go? North route or south[?]

chapter ../decisions/episode8-a
validOptions north, south
- // north, south