p Okay, the lights are back on but I’m just inside the perimeter on the main thoroughfare.
p There is a fork in the road, one heading east and one heading west.
p Lachesis said that we can find information on Sascha at the secure annex. But there’s something else.
p The power outage must have tripped some kind of safety. I can see a fire door open on the executive building next door.
p If I go inside, we could find all the information we need on the RichLand project there, but we may not find Sascha.
p It’s up to you. Which way should I go? East or west[?]

chapter ../decisions/episode8-a
validOptions east, west
- // eastClotho, westClotho
- // eastAtropos, eastAtropos
