p Good call. I’m heading there now. I’ll drop you a line when I get to the riverbank.
wait 900
p I’m here. Jeez. That took forever. Okay, I don’t know how far you’re timeslipped from me, but it’s almost full dark out here.
p The moon is hiding behind some clouds, so on the one hand it’s darker than it should be.
p On the other hand, it should protect me from werewolf attacks. So, you know, win-win.
p I can see the security lights of the project to the south. There are three guard shacks along the river, and I can just pick out the power station to the east.
p I’m on the bank on the far side. The water is pitch black, so swimming might be right out. But there IS an island halfway across, so I might make it.
p Otherwise, I can try and make it across the bridge. There is a guard shack on the far side, but I may be able to dodge them.
p It’s up to you. Walk or swim[?]

chapter ../decisions/episode8-a
validOptions swim, walk
- // swimClotho, walkClotho
- // swimAtropos, walkAtropos