p Okay, the transpo is rolling by. I’m hopping on.
p I’m in! Oh man, just my luck. Managed to hop into a transpo hauling foodstuffs.
p I’m going to smell like bacon forever now.
p God bless you. This was the best plan ever.
p Now all we gotta do is ride this thing in and–
p Shit!
wait 600
p Okay, I’m trapped.
p The transpo rolled into a loading bay. A locked loading bay. It’s all automated so there’s no emergency exits. I’m stuck.
p But...dammit.
p This is going to be so awkward. I’m gonna contact Atropos and have him cut the power for the whole compound. Just for a sec.
p Then the big rolling door the trucks use will disengage and I can slip out.
p Oy. I’m never gonna hear the end of this.

chapter ../decisions/episode8-a
validOptions continue
- // thanksgiving