p Yikes okay. He’s coming my way, but he’s relying on the goggles and not his own eyes.
p My jacket might just keep me invisible. I’m pulling my hood up.
p Shit. He’s right on top of me. If my jacket fails or he takes the goggles off, he’s gonna see me. 
p And he’s packing a gun on his belt that appears to mean business.
p Okay, his back is turned. I’m making my move.
p Okay. Good news/bad news.
p The good news is that I slipped past him in the dark. 
p The bad news is that his partner came up the bridge in the opposite direction and he wasn’t wearing goggles.
p So I did the only thing I could do and dodged inside the shack.
p Where I’m now trapped in a closet. Like a common broom.
p But I have a plan. I’m gonna contact Atropos and have him cut the power for the whole compound. Just for a sec.
p Then I can charge past both the guards and make it to the far shore.
p Oy. I’m never gonna hear the end of this.
p Can you imagine what Thanksgiving is going to be like from now on...
p “Pass the peas and oh yeah remember the time I saved your ass when you were hiding in a broom closet?”
p I’m contacting him now.
wait 300
p Hey, you ever wonder if someone were capable of being exasperated and smug all at once? Well I’m here to tell you it’s possible.
p He says he’s gonna hit the power station in five.
wait 300
p It’s down! I’m moving.

chapter ../decisions/episode8-a
validOptions continue
- // mainThoroughfare