p Good plan. I didn’t really feel like dealing with a freezing river and a crumbling bridge anyhow.
p Okay, give me a sec to get into position.
wait 900
p I’m here, just to the west of the main road.
p I can see the fence from here but it just seems to go on for miles in both directions.
p Oh, and as a bonus round? I think it’s electrified.
p Either that, or the bat that just flew into it spontaneously combusted.
p Either way, though, I’m out here with an electric fence or exploding bats. It’s a hazardous kinda night.
p The good news is that there’s only one guard shack off to the west.
p If I can make it past that, I’m pretty much home free.
p Providing I don’t run afoul of any exothermic flying rodents.
p Hang on.
p Oh man, they shut down the current when a transport rolls through.
p I can wait until they open the gate for a transpo, and then jump the fence.
p Or, and this is good news, I see a heavy transport rolling in from the south. I can try and jump on it and piggyback my way inside.
p The transpo is riskier but faster.
p Up to you. Should I jump the fence or catch a ride[?]

chapter ../decisions/episode8-a
validOptions fence, ride
- // fenceClotho, fenceAtropos
- // rideClotho, rideAtropos