p I’m glad you’re here with me. I’ve got you snugged right into my haptic implant, so I can hear your messages and send replies subaudibly.
p Because typing and sneaksmanship are sometimes mutually exclusive, you know?
p Okay, so I’ve uploaded a map of the secure data annex facility to your data store. You can find it at http://lachesis.link/map351

chapter ../decisions/episode8-a
validOptions continue
- // eyeClotho
- // eyeAtropos