p Well my goodness. It looks like we’re in for another round of text adventure, only the stakes are a little higher and I don’t see any elixir around here.

chapter ../decisions/episode8-a
validOptions continue
- // startContinueBoth