p Yeah, that’s a better choice.
p As my ol’ Nana used to say, “Better to swim from the shore than after a short fall with a full pack.”
p I never understood what she meant until now.
p Mysterious woman, my Nana. And wise. Okay, gimme a sec to get back around to the shore.
wait 900

chapter ../decisions/episode8-a
validOptions continue
- // bridge