p Me: Sascha. Lachesis sent me. She said you went dark.
p Sascha: Who are you supposed to be...
p Me: Clotho. I’m on your side.
p Sascha: You don’t even know what my side is. And it was very stupid for you to come here.
p Me: Yeah well, I was out for a walk and just ended up here in this secure compound. Happens all the time.
p Sascha: (Smiles) Well then you’re more of an idiot than I took you for. You need to run. The guards are running a scheduled sweep right damn now.
p Sascha: If they catch you here there’s no telling what they’ll do.
p Me: I don’t really–

chapter ../decisions/episode8-a
validOptions continue
- // holyCrap