p Can you imagine what Thanksgiving is going to be like from now on?
p “Pass the peas and oh yeah remember the time I saved your ass when you were hiding in a broom closet?”
p I’m contacting him now.
wait 300
p Hey, you ever wonder if someone were capable of being exasperated and smug all at once? Well I’m here to tell you it’s possible.
p He says he’s gonna hit the power station in five.
wait 300
p It’s down! I’m moving.

chapter ../decisions/episode8-a
validOptions continue
- // mainThoroughfare