p Crap. I knew this would be too easy.
p There’s a fence here. Electric and about a million feet high.
p It wasn’t on the original schematics.
p But I have a plan. I’m gonna contact Atropos and have him cut the power for the whole compound. Just for a sec.
p Then I can get up over the fence without getting barbecued.
p Oy. I’m never gonna hear the end of this.
p Can you imagine what Thanksgiving is going to be like from now on...
p “Pass the peas and oh yeah remember the time I saved your ass when you were hiding in a broom closet?”
p I’m contacting him now.
wait 300
p He says he’s gonna hit the power station in five.
wait 300
p It’s down! I’m climbing now.
p Unfff. Okay. I’m down on the other side.
p Man! Who knew that being a super-spy involved so much physical activity.

chapter ../decisions/episode8-a
validOptions continue
- // mainThoroughfare