p Wow. Atropos was right. You are a little bit of a badass. Hope I can live up to your expectations. Also hoping I’ll just...live.

chapter ../decisions/episode8-a
validOptions continue
- // whichLane