p Okay, good plan.
p Man, this is worse that it looked from the other end. Looks like there was some kind of explosion here way back.
p Pavement is cracked pretty bad, and I think I can feel the whole thing swaying slightly under my feet.
p It is not a pleasant sensation
p Still, if I keep low the guards won’t see me as I scuttle by.
p Gimme a sec to sneak.
wait 900
p Okay, now I know why this lane isn’t guarded.
p There’s a six-foot chunk of road missing right from the middle. I can see the support struts inside just exposed to the air.
p And below that? The darkness of the river. Don’t really feel like going for a swim. Not from this height.
p I think I can make the jump, but if I miss I’m going for a swim. IF I get lucky and miss all the support struts on the way down.
p OR...I can go back to the other bank and try to swim it.
p Should I jump or swim it[?]

chapter ../decisions/episode8-a
validOptions jump, swim
- // jumpClotho, jumpAtropos
- // swim