p Let me get down to the bridge.
wait 900
p I’m here. The bridge is this huge concrete structure.
p How long has this been here...
p No time to think about it.
p The whole thing is super-old but holding. Looks like it was used for cars once. Four lanes separated by a narrow gap.
p Looks like the west lane has had a partial collapse. The east is in pretty good shape. The guard shack is on that one.
p Which lane should I try? East or west[?]

chapter ../decisions/episode8-a
validOptions east, west
- // east, west