p Sascha: I did it because YOU were.
p Sascha: Someone inside Harcourt’s security team knows you’re watching. They don’t know who you are, but it won’t take them long.
p Sascha: So the real question is: are YOU secure? Are your friends? Is Lachesis?
p Oh fuck.
p Lachesis.
p Hang on.
p Damn it. I can’t get her on the line.
p I’m going dark. Sascha is going to stay. You need to get off the line now. NOW!

chapter ../decisions/episode8-a
validOptions continue
- // grabHerClothoContinue
- // grabHerAtroposContinue