p Yeah, I figured. You wouldn’t dare sign up for a thing and not know exactly what you’re getting into, right? ;)
p You’ve probably read through all of their “shiny happy” brochures, taken the virtual tours of the vineyards and tract homes and Feed plants.
p Hell, you probably know more about it at this point than I do. But things aren’t what they seem.
p I mean, I’m sure you’ve heard the legend all about how Aidan Spencer himself is responsible for the ideas behind RichLand. But before he died...

chapter ../decisions/episode1
validOptions continue