p And that’s understandable! But right now...this early in the game? I think that maybe knowing too much would put you in danger. So just bear with me...for now.

chapter ../decisions/episode1
validOptions continue