p ...I’m not quite ready to share my identity with you just yet? 
p Because I’ve seen some shit. Like as in...
p THE END OF THE WORLD (IN TECHNICOLOR!)
p So I start every day with a big, steaming cup of fresh-brewed paranoia. 
p Because even though you seem okay now, this might just be because you don’t remember everything that happened way back when.
p And I’m afraid that once you DO remember, you might not be the same person I’m dealing with now. 
p Sorry. You aren’t mad, are you[?]

chapter ../decisions/episode1
validOptions y, n
