p There. Connection is as snug as a bug in a rug. So let’s get down to brass tacks. 
p It’s maybe...just *maybe*...the end of the world. Again. And you might be one of the only people who can stop it.
p (So, no pressure, right?)
p But first, I have to be sure that you’re YOU. Provide me with your bonafides and all. 
p And since we can’t do the Awesome Post-Apocalyptic Ninja Association handshake via aetheric connection, maybe you could just tell me who you are.
p Nothing fancy. Just type in your name. [?]

chapter ../decisions/episode1
validOptions {{name}}, {{first_name}}, {{rtc_name}}, default
