p I can understand that. A lot of people suffered because we never fully appreciated what it was we had back then. 
p Might be better to just torch the lot and have done with it.

chapter ../decisions/episode1
validOptions continue