p Hey, me too! I moved there from the State when I was a kid.
p And get this...I actually saw Ros one time. No, seriously! I was just a kid then, but one day, right at the beginning of the SILOS war.
p I was playing in my front yard and I hear a couple of folks come walking down the road, squabbling like a couple of kids. 
p So I look up from my Junior Artifice Kit (patent pending) and lo and behold, it’s a tall lady in a leather coat and this skinny Artificer.
p Oh and get this: the lady is carrying a cello on her back. 
p So yeah, pretty cool, huh? Ros herself, just walking down my street. And I’m pretty sure that the guy who was with her was Gregor. 
p But the less said about him, the better...

chapter ../decisions/episode1
validOptions continue