p Your story checks out. And uh...listen. I know a lot of folks around the Tech Republic have a problem with Writers these days. But, hey, I’m not one of them.
p It’s weird how that happens, though, isn’t it?
p I mean, 20 years ago everyone had this big grudge against the TR, calling us 'Makers' and stuff was an okay thing to do. Like it wasn’t a total insult.
p And now, folks are doing the same thing to you folks. And to be frank, I think it’s bullshit.
p Anyway, I just wanted to get that out of the way. *I* think you’re cool, and I just happen to be the coolest person of ever.
p So by proxy that makes you at leeeeeeast...medium cool.

chapter ../decisions/episode1
validOptions continue
