p Nice! My folks are from the State. I’m a Musician by birth and an Artificer by choice.
p And get this...I actually saw Ros one time. No, seriously! I was just a kid then, but one day, right at the beginning of the SILOS war.
p I was playing in my front yard and I hear a couple of folks come walking down the road, squabbling like a couple of kids.
p So I look up from my Junior Artifice Kit (patent pending) and lo and behold, it’s a tall lady in a leather coat and this skinny Artificer.
p Oh and get this: the lady is carrying a cello on her back.
p The man with her? Gregor Ilych. THE Gregor Ilych. Talk about a complicated legacy.
p I mean, I know he was under the influence of SILOS when he betrayed the TR...
p ...but to think that someone can just walk around all normal and have something like that inside of them all the while?
p Brrrrrr. No thanks.

chapter ../decisions/episode1
validOptions continue
