p That’s okay.. You can’t know everything. RichLand is the brainchild of Aidan Spencer.
p That’s right. THE Aidan Spencer, who died fighting in the SILOS War right before the TR was lost forever.
p In fact, just before Aidan died...

chapter ../decisions/episode1
validOptions continue
