p Wait...really? Jeez. I...I don’t think I’m really ready to contend with this kind of existential crisis just now, so uh let's pick this up at a later date.

chapter ../decisions/episode1
validOptions continue