p Thanks for being so understanding. I just think that this early in the game, knowing too much might...I dunno...explode your head? Kidding! Mostly.

chapter ../decisions/episode1
validOptions continue