p Of course you don’t! But if you were to take your terminus apart and take a magnifying glass to its innards, you’d see the AS logo all over the darn place.
p Hell the man probably patented the atoms your terminus is printed on.

chapter ../decisions/episode1
validOptions continue