p Whew. Thank goodness. I don’t know if I’d be up to that right now.
p But serious, if you ARE interested in what happened, I’ll upload the story to your data store.
p (Upload complete) http://lachesis.link/data-store

chapter ../decisions/episode1
validOptions continue
