p Whew. Thank goodness. Can you imagine if I went through all that trouble to contact you and you turned out to be the wrong person?
p "Gee, sorry I hacked your terminus remotely and implied that you may or may not have some larger role in the salvation of humanity...
p "...so please, go right back to watching your kinoshows and arguing politics on social media.” How embarrassing.

chapter ../decisions/episode1
validOptions continue