p That’s cool. I’m timeslipped from you ever so slightly where I’m at, 
p so it shouldn’t be a problem if you need to step away for a snack or whatever. 
p Just make sure to get caught up before you make your big trip to RichLand. You DO remember registering for that, right[?]

chapter ../decisions/episode1
validOptions y, n
