p Oh hey. It IS you! Man, am I ever relieved. 
p I dunno how, but the monster SILOS stole our memories of that day...of Ros & Gregor & Moses and all that stuff that happened. Just...gone.
p But you remember who you are, at least. And that might be just enough to save us.

chapter ../decisions/episode1
validOptions continue