p Hey...I get it. You don’t trust me yet. That’s cool, since you don’t remember me...yet.
p But don't worry, the memories will come back. They always do, whether we want them to or not.
p Still, is it okay if I just call you {{first_name}} for short[?]

chapter ../decisions/episode1
validOptions y, n
