p Whew. Okay. Here we go.
p It came out of the east. SILOS. We didn’t know what it was at first.
p It was just this tide of no-face drones – Frontmen – that came streaming across the countryside, killing everything in their path.
p They uh...they took Arthaus first. No one saw it coming.
p The worst part came later. It was only after Arthaus fell that we realized that SILOS can take the dead, and the near-dead, and turn them into more Frontmen.
p So for every innocent person that SILOS killed, it meant another Frontman swelling their ranks.
p It was bad for a while. Real bad. Lots of nice people got killed. Lots of families, entire towns just...gone.
p And then, when things were bleak and the forecast read “Grim with a 90% chance of extinction,” a woman named Ros emerged from the badlands.
p She was like an avenging angel, beautiful and deadly, and along with her friends Gregor and Moses, she beat back the SILOS tide and saved us all.
p And then, just like that, she was gone. Only Moses stayed behind, to help pick up the pieces.
p You see, he realized that SILOS wasn’t beaten. Not forever, anyhow.
p So he left a plan in place for when things got bad again.
p He made it so that when the rain came down and the wheels came off and shit got weird, someone would be there to yank the emergency brake.
p So he laid plans. He planted information. He traveled and surveyed.
p And last but not least, he made a list of heroes. People who the world could count on when the time came.
p I was on that list. So were my brothers, along with dozens of others.
p So were you.
p But we’ll get to that in a little bit. It’s not time yet.

chapter ../decisions/episode1
validOptions continue