p Of course you do! Big old gala. They’re rebuilding the world as it once was, you know. Before the bad days. Before the dark days.
p Before SILOS. 
p I’m sorry. I need a sec. 
p Hands are shaking pretty bad. 
p It’s funny. Even after all this time, it scares me to say its name. Like the boogeyman, or the evil wizard from that book in history class. 
p Silly. Because even though I know SILOS is gone, its legacy is still with us.
p And I just realized that you might not remember SILOS. So even though I hate to have this conversation...do you want to talk about it[?]

chapter ../decisions/episode1
validOptions y, n