p Ah okay. Here we go.
p (Terminus handshake complete, run welcome script)
p Hello, User, and welcome to your Aiden Spencer Unlimited Terminus VI
p (Reroute) Fail
p Auuugh...stupid thing. No, not *you*. Sorry. Almost got it.
p Do me a favor from your end. Can you just type “Terminal unlock: authorization M.Driver zero one."[?]

chapter ../decisions/episode1
validOptions Terminal unlock: authorization M.Driver zero one., default