p (Unauthorized user detected. Attempting purge.)
p Now we’re talking! That’s some high-quality rogue AI type of stuff. “Attempting purge!”
p I can just see some monstrosity stomping across a carpet of bones blasting lasers every whichway and carrying on about "purge this" and "assimilate that!"
p (Purge commencing, please stand by.)
p Yeah, no thanks. We got shit to do and exactly no time to do it in. Because it’s half-past the end of the world out there.
p (Purge-)
p Jiminy. Okay, here we go. I’ll shut this guy off.
p Okay. Now we can talk in peace. Assuming, of course, that no one else is listening in. So I gotta ask you...is this terminal secure[?]

chapter ../decisions/episode1
validOptions y, n