p No worries. I have just the ticket. Stand by for one sec while I secure the connection. You may feel a little tingle if you’re using wetware.
p Just try to imagine that it’s someone scratching your back for you. From the inside.

chapter ../decisions/episode1
validOptions continue
