p But anyway. The world ended and Aidan’s dream was ash in the wind, until a man named Albert Harcourt emerged and picked up the mantle.
p He plans to remake the world as it was, according to his lights. And he intends to use Spencer’s tech to do it.
p But here’s the thing:
p The day, the very *day* that he announced his plans to rebuild the world?
p The old, deep alarm bells that Moses left behind began to go off, and the safeties on his information caches began to disengage.
p Which means that whether or not we’re ready, we’ve been called to stand up and be counted.
p (So like I said, no pressure.)
p I’ll tell you more when I can.
p But! We’ve been on this Feed channel just a little too long.
p The little hairs on the back of my neck are standing up straight, which means it’s time for me to sign off. I do have one last question for you, though.
p Looking at the world, knowing what it once was, knowing what it had the potential to become...
p Some say we should work with what we have now, just keep building something better.
p Others believe we should just burn it all down and start from scratch.
p What about you? What do you think? Should we build with what we have or burn it to the ground? Build or burn: your choice[?]

chapter ../decisions/episode1
validOptions build, burn