nav.top-nav

  .content

    input.menu-toggle(id='menu-toggle', type='checkbox')
    label(for='menu-toggle') Menu

    ul.list-unstyled.list-inline.right.cf
      li: a(href='/moderator') Home
      li: a(href='/moderator/users') Users
      li: a(href='/moderator/states') States
      li: a(href='/moderator/episodes') Episodes
      li: a(href='/moderator/author') Author
      li: a(href='/moderator/author/story') Story
      li: a(href='/moderator/conference') Conference
