
p There. Connection is as snug as a bug in a rug. So let’s get down to brass tacks. Some serious stuff is going down.
p Stuff that might have serious repercussions for the whole human race.
p (So, no pressure, right?)
p But first, I have to be sure that you’re YOU. Provide me with your bonafides and all.
p And since we can’t do the Awesome Post-Apocalyptic Ninja Association handshake on the lines, maybe you could be so kind to share your name with me.
p Nothing fancy. Just type in your name.

chapter ../decisions/episode1
validOptions {{name}}, {{rtc_name}}, default