p Okay, and just for verification purposes, are you from the State of Play, Arthaus, The Writers’ Bloc, or the Tech Republic?

chapter ../decisions/episode1
validOptions tech republic, state of play, writers' bloc, writers’ bloc, arthaus