p You approach the door. It is much taller than you thought.
wait 5
p There doesn't seem to be a doorknob anywhere.
wait 5
p But then you see it. It's a large doorknob that is fixed above your head.
wait 8
p You have to stand on tiptoe to reach it.
wait 5
p Through the opaque glass you see a shape moving in the next room.
wait 8
p Do you go THROUGH the door or WAIT?

chapter ../decisions-test/decisionTest
validOptions through, wait