p Your story checks out. And uh...listen. I know a lot of folks around the Tech Republic have a problem with Writers these days. But I want to let you know that I’m not one of them.
p It’s weird how that happens, though, isn’t it?
p I mean, twenty years ago everyone had this big grudge against the TR, and calling us Makers and Tinkerers and stuff was an okay thing to do. Like it wasn’t a total insult.
p And now, folks are doing the same thing to you guys. And to be frank, I think it’s bullshit.
p Giving someone a hard time because they were born in a different place than you? How does that make sense?
p Anyway, I just wanted to get that out of the way. *I* think you’re cool, and I just happen to be the coolest person of ever.
p So by proxy that makes you at leeeeeeast...medium cool.

chapter ../decisions/episode1
validOptions continue
