p You are walking through a dimly lit hallway
wait 5
p Up ahead you hear a sound. It's a regular pounding that marches steadily on.
wait 15
p The hallway branches to the left. At the end you see an ornate glass door
wait 8
p Do you investigate the DOOR or keep going towards the SOUND?

chapter ../decisions-test/decisionTest
validOptions door, sound