p Point is, Aidan didn’t get to where he was by frittering the day away playing croquet or water polo or horse polo or seahorse polo or whatever
p Instead, Aidan went out and created a security blanket.
p A nice, soft place for humanity to wrap itself up when the light went out...
p ...and the monster creeped out from under the bed on soft, flobbering feet and dragging sickle claws.
p Because the monsters did come, didn’t they?
p But Aidan’s plan came just a couple decades too late. SILOS swept in and smashed everything flat.

chapter ../decisions/episode1
validOptions continue