p Oh hey. It IS you! Man, am I ever relieved. Believe it or not, some folks are starting to forget what happened to us way back when.
p I dunno if it was SILOS that done it or what, but the memories of that day...of Ros and Gregor and Moses and all that stuff that happened...it’s like it’s fading away.
p But YOU remember, and that might just be enough to save us.

chapter ../decisions/episode1
validOptions continue