
p (okay, so before he was brutally murdered by the agents of SILOS)
p ...old Aidan predicted the fact that something just like SILOS was going to happen.
p (And did I mention that he single handedly designed the terminus that you’re using at this very moment? Go ahead and flip it over and look at the back. Do you see his name there?

chapter ../decisions/episode1
validOptions y, n