p Only one problem: he’s dead. And even the super-rich have to die eventually, right?
p Right?
p I did a little background on him. Dug up some details on his family history. Not sure if it’ll help, but anything might at this point. 
p Do you want to see what I found? 

chapter ../decisions-test/decisionTest
validOptions y, n