p Hey...I get it. You don’t trust me yet. That’s cool. It’s been a long time, and you just happen to be one of the ones who forgot what happened back when.
p But don't worry, the memories will come back. They always do, whether we want them to or not.
p Still, is it okay if I just call you {{name}} for short?

chapter ../decisions/decisionTest
validOptions y, n