p Whoa, that’s an interesting theory. I’m gonna have to keep that one in my back pocket. 
p I mean, it could be absolutely anybody when you get right down to it. But the kind of person who would send some hired goons and a mecha?
p That person has to have serious scratch.

chapter ../decisions/episode3
validOptions continue