
p We all suffered, but your people got it worse than anybody, didn’t they?
p For what it’s worth (and I know it’s not worth much, not at this late hour), well...
p ...I’m sorry. I’m just so damned sorry. Maybe if we had done more earlier on, maybe if we had paid a little more attention when SILOS first attacked you...
p I dunno. Maybe things would have come out different. Maybe we wouldn’t be here, wading around in the ashes of the world, trying to figure out what to do next.
p Anyway, what happened, happened.

chapter ../decisions/episode1
validOptions continue