p Ah okay. Here we go.
p [Terminus handshake initiated, run script “Hello, User!]:
p Hello, User, and welcome to your Aiden Spencer Unlimited Terminus VI,
p New features include remote Feed sensor, haptic interface, and buckyball memory sys-
p [Signal interrupt]
p Damn it all, hang on. I almost have it.
p [Rerouting…]
p [Rerout]: Fail
p Seriously. Once sec. Just ignore the computer freaking out for like...ugh...this thing.
p Can you do me a favor from your end? Just type “Terminal unlock: authorization M.Driver zero one."


chapter ../decisions/episode1
validOptions Terminal unlock: authorization M.Driver zero one., default