p [Connection ver-]
p Yes, jeez, we got it already! Connection verify fail. Cheesy Pete, do they ever change the script on these things?
p I mean, would it be so hard to just have them be like “Oh dang, something done got fucked up now.”
p [Unauthorized user detected. Attempting purge.]
p Now we’re talking! That’s some high-quality rogue AI type of stuff. “Attempting purge!”
p I can just see some glimmering monstrosity stomping across a carpet of bones, blasting lasers every whichway and carrying on about “purge this” and “assimilate that.”
p [Purge commencing, please stand by.]
p Yeah, no thanks. We’re far too busy to wait around for that kind of thing. Because it’s half-past the end of the world and we got a lot of work to do, you know?
p [Purge-]
p Jiminy. Okay, sorry. I’ll shut this guy off. Sorry, fella. No purging today.
p But I promise to take you out for ice cream and the subjugation of the human race tomorrow after the father/son/inane robotic intelligence softball game, mmmkay?
p [ERROR, MEMORY CORE FAULT]
p There it is.
p Okay. Now we can talk in peace. Assuming, of course, that no one else is listening in. So I gotta ask you...is this terminal secure?



chapter ../decisions/episode1
validOptions y, n
