p So the question we have to ask ourselves at this point is: who do we know that has enough money and power to make this happen? 
p Any ideas?

chapter ../decisions/episode3
validOptions aidan spencer, i don't know, i don’t know, default