p But anyway.
p Word has it that someone...
p (and your guess is as good as mine as to who)
p ...has dug up Aidan Spencer’s old plans and started making his dream a reality.
p Which is where you come in.
p You see, I’ve been keeping an eye on this whole RichLand thing. Not because I’m suspicious of what’s going on there!
p But living in this world has taught me to go forward with an abundance of caution.
p Go figure that living in a post-apocalyptic nightmare has sharpened my sense of danger.
p In fact, we’ve been on this Feed channel just a little too long.
p The little hairs on the back of my neck are standing up straight, which means it’s time for me to sign off. I do have one last question for you, though.
p Looking around at the world, knowing what it once was, knowing what it had the potential to become...would you rebuild it as it was?
Or would you burn what’s left to the ground and try and build something new?

chapter ../decisions/episode1
validOptions build, burn