wait 900
p (Connection verify): Fail
p Come ON you piece of shit.
p (Retry? Y/N): Y
p (Connection verify): Fail
p (Connection verify): Fail
p (Connection verify): F–
p Damn it. How did she get this stupid thing to–
p (Connection verify): Success
p There. Damn. How Lachesis got this thing to work day in and day out I’ll never know.
p It’s me, Atropos.
p Glad to see you’re still alive.
p Things have been bad. I’m not going to lie.
p Lachesis is gone. The op is blown.
p Someone set us up from the jump. They knew Sascha had gone dark.
p And they knew that it would prompt us to try and pull her out.
p They were just waiting for us to move so they could grab Lachesis.
p My sister. They took my sister.
p We stole the transpo from the loading bay, Clotho and I.
p Burst right through the doors. Ran through the fence like it was paper.
p The guards tried to stop us, but their hands were full with their barracks going up.
p We made it back to Lachesis’ safe house but she was gone.
p Big old coffee spill on the floor, still warm.
p We made the decision right then and there to go dark until we could formulate a plan.
p What about you? Were you able to terminate the signal before whoever it was backtraced you[?]

chapter ../decisions/episode9-b
validOptions y, n
- // yesTerm, notTerm
