p You’re going to the gala as normal. Keep your eyes open and your mouth shut. Gather any information you can on the project and keep your head down.
p You’re going in alone, but I have seen you operate over the last few weeks. You’re strong.
p You’ve faced things far worse than this before and emerged triumphant.
p Clotho and I will be working behind the scenes, and God help anyone who stands in our way.
p Good luck out there.
p We’re all going to need it.
p (Connection terminated)

chapter ../decisions/episode9-b
validOptions continue
- // end
