p I’m really sorry, but I don’t think that any of us are. But we’re all going to do what we have to to see this thing through.

chapter ../decisions/episode9-b
validOptions continue
- // yesReadyContinue