p I want you to know that we’re not going to rest on our laurels.
p Not while they have Lachesis.
p I’m sure that Harcourt’s security forces have her, but Clotho is not so sure.
p And his safety is the only reason I’m not back there right now burning that whole damn project right to the fucking ground.
p For him...and for Lachesis. She always tempered my impulsive side. Always told me to look at the facts.
p So okay, sis. Here we go: The world as we knew it went away. Left us flat-footed in our hour of need.
p We lost everything, and started building something new for ourselves.
p And then here comes Albert Harcourt and his infinite resources and his dream of rebuilding the world.
p We lose an asset investigating his operations, then another going after her.
p It’s like we’re being guided by some invisible hand, moving at odds with Moses Driver’s grand fucking plan.
p Well not any more.
p Clotho and I are going dark. It was our hope that we could send you into the RichLand opening gala with more data.
p But with Lachesis gone, we just don’t have that option anymore.
p Are you ready for this[?]

chapter ../decisions/episode9-b
validOptions y, n
- // yesReady, notReady