wait 900
p Hey there. You’ve been busy.
p I’ve been keeping one ear peeled in the direction of you and my siblings.
p This is Clotho, by the way.
p No need to make you guess.
p That’s Atropos’s thing.
p (He’s kind of a dick. But hey, family, amirite?)
p So hey. I gotta ask: have you found out anything interesting about RichLand yet? Anything significant[?]

chapter ../decisions/episode6
validOptions y, n
- // yesSignificant, notSignificant