p You come to a bathroom. It is the worst bathroom of ever. Seriously, even a Mr Clean Magic Eraser wouldn’t work and they’re TOTALLY MAGIC.
p It smells terrible in here.
p Seriously ugh.
p You flee back north to the junction.
p (GO NORTH)

chapter ../decisions/episode6
validOptions continue
- // statues