p You open the medicine cabinet, feeling guilty about invading someone’s privacy.
p Inside there is an ancient tube of toothpaste (squeezed from the middle (savages)) and a bottle of GRANDPA JIMMY’S HEALTH ELIXIR.
p [TAKE TOOTHPASTE or TAKE HEALTH ELIXIR]

chapter ../decisions/episode6
validOptions take toothpaste, take elixir
- // toothpase, elixir