p The dragon opens its eyes. They are yellow and huge and SUPER cranky.
p “Seriously?” the dragon says. “Another adventurer? You gotta be kidding me. I have work tomorrow and I’ve been sick as a dog.”
p “My head is killing me and I could use a ELIXIR. So seriously, dude, don’t do anything stupid.”
p If you have an item to use, now might be the time.
p [If you found an item, type USE and the item name.]

chapter ../decisions/episode6
validOptions use dagger, use elixir, default
- // useDagger, endThetaEp6, endRhoEp6