p You grab the bottle of health ELIXIR. There is a warning on the side of the bottle.
p “By chugging this ELIXIR you hold Grandpa Jimmy and his parent company, Takehashi ELIXIRs and Restorative Philters, harmless.”
p “Adverse effect include euphoria, albinism, night snakes, spontaneous hydrophobia, nonspontaneous hydrophila, and turtle hiccups.”
p “Pregnant women should not use this product, nor should pregnant men, or people hosting malignant alien intelligences. Use as directed.”
p You put the ELIXIR in your pocket.
p There are doors to the WEST and NORTH.
p [go WEST or NORTH]

chapter ../decisions/episode6
validOptions west, north
- // backToStart, junction