p Then you are eaten by a grue.
p Hey, it’s Clotho.
p Uh...maybe this game wasn’t for you. That’s okay.
p You and I might not see eye to eye right now, but I have a good feeling about you anyway.
p There is a fervency in you somewhere. It’s just a matter of time before we see which way it will turn you.
p And I hope, on that day, you make the right choice.
p I’ll be in touch.

chapter ../decisions/episode6
validOptions continue
- // End