p You look at the dragon and shrug lamely.
p She rolls her big scaley eyes.
p “Just go,” she says, “before I change my mind.”
p You run as fast as you can out the door and into the sweet sweet light of day, swearing never to drink grog ever ever again.
p Hey, it’s Clotho.
p You made it through CASTLE KICKASS. Alive, no less.
p But I saw that you didn’t really utilize all the resources available to you.
p Compassion, when you get right down to it, isn’t just about having warm and fuzzy thoughts and feelings.
p It’s more about bringing your resources to bear for the good of another. Even an enemy. Even a monster.
p Maybe keep that in mind in the following days.
p I’ll be in touch.

chapter ../decisions/episode6
validOptions continue
- // end