p You pull the ELIXIR from your pocket and hand it to the dragon.
p She takes a swig and closes her dragon eyes.
p “Oh man, that’s the stuff,” she says. “You’re a solid human. Here. Take this.”
p She hands you a (SECRET CONFERENCE ITEM).
p You reverently take it in hand.
p “This will totally help you in your travels,” she says. “In case you ever need Riches in your travels across the Land.”
p You exit the cave and into the warm light of day. Your hangover is mostly gone, and you have a little treasure in your pocket. Things could certainly be worse.
p Hey, it’s Clotho.
p Congratulations! You beat CASTLE KICKASS.
p I think you probably figured out by now that my game was a little more than a game.
p Compassion is a resource in scant supply these days, even if it is towards a seemingly scary leviathan.
p You’ve impressed me. I’ll catch you later, because I have a feeling that we have some amazing work to do. Together.

chapter ../decisions/episode6
validOptions continue
- // end