p You are very well-done when she eats you.
p Hey, it’s Clotho.
p Man, you were so close! Still, it makes a body think. Maybe attacking a foe much larger than yourself is a bad plan.
p But I admire your fervency. There is a deep well of tenacity within you. Only time will tell which way you turn.
p But I have a good feeling about you, friend, and I pray that you choose the compassionate route.
p Just some food for thought. I’ll catch you later.

chapter ../decisions/episode6
validOptions continue
- // end