p Oh...okay. It sounds a lot like you’ve already made a decision about which way you want to go with this.
p But listen: Atropos is not a bad guy. He’s my brother and I love him. But he doesn’t always see the forest through the trees.
p The world needs help, sure, but the answer isn’t always as clear cut as he lays it out to be.
p I sense a deep compassion in you, but only time will tell if you’ll plumb its depths.
p So I guess I’ll just wish you good luck. I have a feeling we’re all going to need it.

chapter ../decisions/episode6
validOptions continue
- // End