p Yeah. Because gold.
p You wanna sneak up and get it? Because you’ll have to take that armor off. But then you’ll have nothing but your delicious integumentary system to protect you.
p [TAKE ARMOR OFF or LEAVE ARMOR ON]

chapter ../decisions/episode6
validOptions take off, leave on
- // takeArmorOff, leaveArmorOn