p You come to a stately bathroom. It hasn’t been cleaned in a while but the fixtures are all intact. There is a shower, a toilet, and a medicine cabinet.

chapter ../decisions/episode6
validOptions continue
- // examine