p You come to a junction. It is very junction-y. Best junction you have ever seen, really. All those right angles. Nice.
p There are doors to the NORTH and SOUTH.
p [go NORTH or SOUTH]

chapter ../decisions/episode6
validOptions north, south
- // statues, goEast