p You find yourself in an abandoned blacksmith’s shop. There is a sign on the door that says WE WILL RETURN AT 9:00 AM.
p There is a skeleton on the floor, however, that appears to be the blacksmith. His bones are seared and black, his clothes all ash.
p Other than that, he looks pretty good.
p He is clutching something in his creepy skeleton hands. It’s shiny. Do you wrest the item from his skele-grip?
p [YES or NO]

chapter ../decisions/episode6
validOptions y, n
- // yesWrest, doors