p You come to a locked door. Through the keyhole you can spy the outside world, but you can’t fit through it because you are human-sized, not key-sized.
p Welp.
p (GO BACK NORTH)
p You come to the room you’ve been to like a jillion times seriously it’s like ridiculous.

chapter ../decisions/episode6
validOptions continue
- // backToStartChoices