p You’re in a long, dark hallway. It is long and dark. And a hallway.
p There is a door at the end, through which you can see a low, ruddy glow. It looks like a friendly tavern. Maybe they have grog.
p You walk down the hallway and peer through the portal. Inside, on a huge pile of gold, rests a fearsome dragon. 
p On the other side of the dragon lies what looks like an exit.
p On the one hand, you really like gold. Like a lot. You can use it to exchange for goods and services.
p On the other hand, if you wake the dragon, she’ll likely set you aflame. And with all the grog in your bloodstream? You’ll go up like a furnace.
p So, you wanna steal some gold or get the dang out of here?
p [GET THAT GOLD or GET THE DANG OUT OF HERE]

chapter ../decisions/episode6
validOptions get gold, get out
- // getGold, getOut