p Awesome! I mocked it up just yesterday. It’s an ancient form of navigation and discovery.
p I think they used to call it a “text-based adventure.”
p The AI is pretty limited (read: there isn’t one), so just choose from the available options.
p Okay, here we go! I like to call this one: CASTLE KICKASS
p You awake in a cold, dank room with a terrible headache. You sit up and the world spins around you.
p You have the dim remembrance of too much grog at the local tavern.
p (And oy, are grog hangovers ever the worst)
p You fight your rebel stomach and manage not to puke on yourself. Congratulations!
p Options: [STAND UP or LOOK AROUND]

chapter ../decisions/episode6
validOptions stand up, look around
- // standUp, lookAround