p You leave your armor on because that’s what armor is for. You sneak up to the dragon, trying to make as little noise as possible.
p You fail pretty dramatically.

chapter ../decisions/episode6
validOptions continue
- // dragon