p You can’t really see that much from the floor. You can, however, see the underside of a nearby table.
p Something is carved underneath. Would you like to lean closer and examine it?
p [YES or NO]

chapter ../decisions/episode6
validOptions y, n
- // yesLook, noDontLook