p Forget that shit. It’s hard enough not to yack up your guts, let alone scuttle under a table like some sort of...
p ...scuttler.
p [STAND UP or TAKE A NAP]

chapter ../decisions/episode6
validOptions stand up, take a nap
- // standUp, takeANap