p Bet you never figured you’d fall down the rabbit hole when you booked your trip to RichLand, huh?
p Yeah well, you know I gotta give you my pitch. But that can wait.
p So howzabout we play a game? Not a weird one where I force you to earn answers. Just a simple one. An old one.
p What do you say? You in or you out[?]

chapter ../decisions/episode6
validOptions in, out
- // inPlay, outNotPlay