p Yeah of course you run. Sneaking in chain mail is like...sneaking in chain mail.
p You streak through the room like a steel avalanche, dodging past the undead hordes.
p You make it to the other side of the room just in time to barricade the door.

chapter ../decisions/episode6
validOptions continue
- // hallway