p Yeah run. You dodge between those undead fools like it ain’t no thing. Because zombies are slow! Yeah! You are great!
p You come to the other side of the room and are just opening the door when you feel a little nip on your shoulder.
p You look over and see that you’ve been chompinated by a shambling carcass.
p Great. Zombification is the last thing you need right now.
p You sigh and exit the room.
p You’re in a long, dark hallway. It is long and dark. And a hallway.
p There is a door at the end, through which you can see a low, ruddy glow. It looks like a friendly tavern. Maybe they have grog.
p You walk down the hallway and peer through the portal. Inside, on a huge pile of gold, rests a fearsome dragon. 
p On the other side of the dragon lies what looks like an exit.
p On the one hand, you really like gold. Like a lot. You can use it to exchange for goods and services and maybe a zombie cure.
p On the other hand, if you wake the dragon, she’ll likely set you aflame. And with all the grog in your bloodstream? You’ll go up like a furnace.
p Do you want to get that gold or sneak the dang out of here?
p [GET THE GOLD, or SNEAK THE DANG OUT]

chapter ../decisions/episode6
validOptions gold, sneak
- // getGoldZombies, sneakOut