p The shower is infested by facebats. You remember from school that facebats like to eat faces.
p You like your face. It’s plain but serviceable. You slowly close the shower curtain.

chapter ../decisions/episode6
validOptions continue
- // examine