p You sneak like a ninja cat through the room, dodging from cover to cover. You are the night.
p You are doing very well indeed until you bump into an antique bell collection in the corner.
p Zombie love bells.
p Time to run.

chapter ../decisions/episode6
validOptions continue
- // runZombies