p You try to sneak but your chainmail armor makes a sound like a bunch of pots and pans falling down the stairs. A halfling you ain’t.
p You try to flee, but the zombies are all over the dang place. They try to chomp you but the chainmail breaks their teeth like chiclets.
p Take that, chumps!
p You waltz through the room like you own the place and push through a far door.

chapter ../decisions/episode6
validOptions continue
- // hallway