p You are in such a hurry to get out of here that you trip over an inconveniently-placed ottoman (the footstool kind, not the Turkish kind) and go sprawling.
p You make slightly less noise than a rock elemental doing a standing ovation.

chapter ../decisions/episode6
validOptions continue
- // dragonEyes