p Grog be damned. You pull your legs underneath you and manage to haul yourself into a standing position.
p Everything hurts. Even your hair hurts. You swear off grog forever. And taverns. And ever leaving the house. Ever.
p (LOOK AROUND)
p The room is decorated in the fine old medieval noir style. The walls are damp stone and the floor is damper stone.
p There are doors to the NORTH, EAST, and SOUTH.
p [go NORTH, EAST, or SOUTH]

chapter ../decisions/episode6
validOptions north, east, south
- // goNorth, goEast, goSouth