p You come to a room filled with creepy statues. There is graffiti on the wall that reads “NED STARK 4 EVA.”
p One of the statues glimmers in the soft light. You like things that glimmer, so you examine the statue and find a shirt of chain mail.
p (YOU FOUND THE SHIRT OF CHAIN MAIL! +3 TO SEXINESS, -2 TO DANCE BATTLES, +5 TO LIKE SO MUCH NOISE.)
p Feeling very attractive but clanky, you head SOUTH.
p You come to a junction. It is a very familiar junction. From the south you hear the buzzing of stingroaches, so forget that biz.
p You go EAST.
p You come to a large room full of zombies. There are like so many zombies in here. More zombies per capita than Zombopolis.
p So zombie. Very undead. Wow.
p Should you try and sneak past them or just run like hell?
p [SNEAK or RUN]

chapter ../decisions/episode6
validOptions sneak, run
- // sneak, run