p p Lying on the floor of the dank, dark room, you realize that the universe is an empty, whistling nether, devoid of compassion.
p With these existentialist thoughts in mind, you die and leave behind a grog-smelling corpse.

chapter ../decisions/episode6
validOptions continue
- // endRhoDeath