p You try to find a comfortable position on the stone floor, but rocks are a terrible mattress and everything smells like sick in here.
p You take off your jerkin and try to use it as a pillow, but a rat scuttles out of nowhere and steals it.
p Now you’re cold and tired and hungover. Real smooth.
p [STAND UP or SUCCUMB TO THE SWEET RELEASE OF DEATH]

chapter ../decisions/episode6
validOptions stand up, death
- // standUp, endRhoDeath