p You slip your armor off and sneak up towards the pile of gold. There are doubloons, chalices, and bejeweled grillz.
p You grab a handful of lucre and stuff it in your pants. You take a step back and your pockets jingle.

chapter ../decisions/episode6
validOptions continue
- // dragon