p The toilet is now infested with a small colony of stingroaches. Would you like to antagonize the stingroaches?
p [YES or NO]

chapter ../decisions/episode6
validOptions y, n
- // yesRoaches, examine