p You reach in to take the toothpaste but it dissolves in your hand. Hey, at least you smell like mint and fluoride now.
p (TAKE HEALTH ELIXIR)

chapter ../decisions/episode6
validOptions continue
- // elixir