p You pull the HAPPY DAGGER from your waistband and dag the dragon as hard as you can. 
p Dag dag daggity dag.
p You look up from dagging and see that you have done approximately -2 damage.
p The dragon sighs in disappointment. Unfortunately for you, dragon sighs are made entirely out of fire.

chapter ../decisions/episode6
validOptions continue
- // endZetaEp6