p You scuttle underneath the table and peer up at it. There are ancient chunks of petrified chewing gum stuck here and there.
p The underside of the table is also festooned with graffiti. “I smell a wumpus.” “Don’t forget your towel.” and “In Soviet Russia, grue eats YOU.”
p There is also a dim series of letters obscured by a wad of obdurate BubbleYum. You steel yourself and peel it off.
p You have battled slime monsters. You have eviscerated kobolds. You have slept inside the hollowed-out carcass of a wampa.
p But this is the grossest thing you have ever done.
p The gum comes away under your fingernail and sticks there. You try not to puke on yourself. You almost succeed.
p Underneath the gum, however, is a legend which reads “N E S N N FTW.”
p It means nothing to you. You crawl out from under the table, carefully avoiding the puddle of sick you left behind.
p [STAND UP or TAKE A NAP]

chapter ../decisions/episode6
validOptions stand up, take a nap
- // standUp, takeANap