p What, seriously? Okay.
p You antagonize the stingroaches. They sting you a lot and then you die. Your last thoughts are: “Wow, stingroaches have stingers.”

chapter ../decisions/episode6
validOptions continue
- // endRhoDeath.jade