p Really? That’s awesome. I can tell you’ve been working pretty hard.
p Plus it can’t be easy to deal with all these competing views.
p Plus that whole thing where you had to interrogate that asshole computer? That was nuts.

chapter ../decisions/episode6
validOptions continue
- // rabbitHole