p You grit your teeth and pull his icky bone fingers open, watching his bony face for signs of creepy skele-life.
p He does not move, so you pull the shiny object from his grasp.
p It is a long, silver knife. Its blade reads “Oh Happy Dagger.”
p (YOU HAVE ACQUIRED THE HAPPY DAGGER! +2 TO STABBING, +1 TO PEELING APPLES)

chapter ../decisions/episode6
validOptions continue
- // doors