p You come to a large room full of zombies. There are like so many zombies in here. More zombies per capita than Zombopolis.
p So zombie. Very undead. Wow.
p Should you try and sneak past them or just run like hell?
p [SNEAK or RUN]

chapter ../decisions/episode6
validOptions sneak, run
- // sneakZombies, runZombies