p You are a healer. You took an oath to Do No Harm. Before you, on a bed of pain, lies your patient. 
p She is young. In her prime. If things were different, she might have had a long and fruitful life.
p If things had been different. 
p As it is, however, she is wracked with disease. Her health has failed. Her youthful vitality is gone withered on the vine by an indifferent sun.
p Her world is pain. And yet, she lives, thanks to medical intervention. Her heart beats on in her chest. Her lungs fill with air.
p But even as you look upon her, you realize that if you denied her care for even a day, she would slip from this world forever.
p The tricky part is this: you must keep her alive with your blood.
p She doesn’t need much. Not enough to kill you. Just enough to make you a little weaker. A little slower.
p Deny it to her, she dies. Provide it and she lives on, a shell of what she might have been.
p So tell me, friend: do you keep her alive or let her die[?]

chapter ../decisions/episode4
validOptions die, live
- // renewalImpossible, wasteResources