p You have time to change. To learn the strength needed in order to leave this world a better place than you found it. 
p I was like you, once. Before the SILOS War. I believed that the world, as it was, could be healed. 
p But I was a child, then.
p Then the war came and I sawe much and understood more. 
p And I came to learn that what SILOS did to humanity wasn’t a harm, but a cure. 
p So tell me: are you a physician[?]

chapter ../decisions/episode4
validOptions y, n
- // letsPretendTwo, youWillUnderstandTwo