p Yes, among my siblings, the Moirai, I have become Atropos, the Unturning. 
p Because while gentle Clotho spun, and while wise Lachesis measured, it was to Atropos cut short the thread of life with her fell shears. 
p Ancient Greeks feared Atropos, I’ll have you know, in much the way that every living thing fears death. 
p Even Zeus, mightiest among the gods, feared the Unturning One. Because in the strange aeons of eternity, even gods may die. 
p And so: fear. 
p It has always vexed me that this is so. Pregnant women prayed to Clotho, the Spinner. 
p They begged that their children might be born strong and fruitful. 
p Learned scholars pledged fealty to Lachesis, that she might allot to them a full measure of knowledge in their lifetimes. 
p And yet Atropos was spoken of in whispers, behind cupped hands, as if the mere mention of her could summon some dark consequence. 
p Foolish. Foolish. 
p Tell me: are you a physician[?]

chapter ../decisions/episode4
validOptions y, n
- // letsPretend, youWillUnderstand