p A patient lies before you on the table. She is ill. Chronically so. She will never recover. Her world is pain.
p The only thing keeping her alive is regular transfusions of YOUR blood.
p The patient, YOUR patient, will live for an indefinite length of time, so long as she receives proper care.
p You don’t have to donate much. Just enough to leave you feeling slightly sick. Slightly weak.
p So tell me: do you let her die? Or do you keep her alive[?]

chapter ../decisions/episode4
validOptions live, die
- // wiseChoice, liveOrDie