p Hmmm. I thought so, and I can’t really blame you for it, even if she is my sister. 
p But family is a bit of an outmoded construct. We rely on them to feed and shelter us when we’re young and helpless...
p ...but they’re to be cast off like a chrysalis when we come of age, else we become bogged down by base sentimentality. 
p Don’t you agree[?]

chapter ../decisions/episode4
validOptions y, n
- // to machineLIkesYou, sentimentality