p And I’m reminded of something Joshua said after David convinced him to spare the world from death by nuclear fire. 
p He said, “The only way to win is not to play.”
p I wonder if you heard that story too, and if you took it to heart. 
p Regardless, I’m not sure what to make of you. You refuse to conform to a rubric, which I can respect. 
p However, you will soon be forced to make a choice as to what kind of world you want to live in. 
p And when that time comes, you won’t have the option to just tick “None of the above.”
p Regardless, I’ll give you one more chance to commit yourself to a plan of action. Lachesis got the data she was looking for. All is not lost. 
p Do you wish to proceed, and hear what I have to say? Yes or no[?]

chapter ../decisions/episode4
validOptions y, n
- // foolishMachine, endRhoEp4