p Very well. You are lukewarm, and so I will spew you out of my mouth. 
p But heed my words: your destiny is coming for you, whether you choose it or not.

chapter ../decisions/episode4
validOptions continue
