p Very good. You HAVE been paying attention. I have a feeling that your enemies will have a good deal to fear in the coming days. 
p I am concerned, however, by the streak of idealism that I detect within you. 
p You refuse to play along, even though it might mean that you might lose the game in the long run.
p Tell me, do you believe that the ends justify the means, no matter what? Yes or no[?]

chapter ../decisions/episode4
validOptions y, n
- // idealistsRelated, idealists