p It erased your memories so completely that you don’t even remember what you don’t remember.
p Lachesis holds the key, though. Before you lost your memories, you entrusted them to Lachesis. She has the key. 
p That’s what was in the cache, by the way. Memories buried so deep even the keeper didn’t realize she had them.
p And then you’ll understand why the old world has to die in order to live again. 
p I’ll be in touch.

chapter ../decisions/episode4
validOptions continue
