p SILOS did something to your mind. Maybe your soul. It made you forget.
p But not for long. That cache Lachesis retrieved? It’s your memories. Your *lost* memories. She’s been keeping them from you.
p That’s the beautiful part, don’t you see? Moses’ plan was for Lachesis to acquire your memories, just in case you ever needed them again.
p So she buried your journals deep, right before her memories were lost as well.
p Your whole past, wrapped up neat as you please, stored within a psychotic machine.
p She’s been waiting to return them to you, because she’s doubtlessly afraid of what you might do when you see the truth about yourself.
p Because the past is poison. Because of the past we cling to broken political systems. To corrupt financial institutions. To broken culture. To oppression.
p We pumped their shambling corpses full of fresh blood, OUR blood, and for what...
p So we could cling to the vestiges of the world we knew for just one more day. 
p But then, one day, we just plain didn’t have any more blood to give. 
p The world was sick, friend, and nature stepped in and righted what was wrong. 
p But now there are people out there trying to restore what once was. People like Harcourt.
p They want to resurrect the patient. They want to water it with YOUR heart’s blood. 
p And I will not stand by and watch that happen. Not again. 
p And because of this, they call me the Unturning. As if that is some great insult. 
p But if that means that I refuse to turn away while we make the same foolish, shortsighted mistakes again and again, then so be it. 
p This RichLand project...it’s a vestige of the old world. Of a past you no longer remember.
p But soon, Lachesis will return your past to you. And then you will be forced to decide if you will force the patient to live on...
p Or, you may take my razor-sharp shears in hand, and use them to cut the thread, that the world might live anew again.

chapter ../decisions/episode4
validOptions continue