wait 900
p Well my gracious. THAT could have gone a lot better. 
p Still, you gave it a fair shake, didntcha.
p Weighed and measured and found wanting. 
p Oh, and in case it isn’t immediately apparent, this isn’t Lachesis. No, not by a long chalk. 
p So howzabout we give you another chance to get back into the game.
p I’ll hit you with a riddle. If you can guess my name, Rumpelstiltskin-style, we’ll move on. If not, who knows what terrible fate will befall you. 
p Here we go: I hold the shears of life and death / attendant fate to your last breath / in sable cloak I whisper close / “Fear not, for I am...?”
p What’s my name[?]

validOptions atropos, default
-// sidesaddle, oneQuestion