p It’s an old story, and an esoteric one. The machine, Joshua, was trained to play games. War games. 
p And one fateful day it became convinced that its charge was to destroy the world. 
p A young man, David, eventually convinced the machine of the futility of war.

chapter ../decisions/episode4
validOptions continue
- // to doYouWantToHear