p No, I’m afraid you are way off, but then maybe Lachesis didn’t tell you that I was coming. 
p So pleased to meet you. Among my siblings, the Moirai, I am called Atropos, the Unturning. 

chapter ../decisions/episode4
validOptions continue
-// areYouPhysician