p A foolish notion, and a waste of resources. Imagine how much good you could do if you simply let her slip away into the void.
p The world is broken, can’t you see? It’s diseased.  
p The symptoms are patriarchy, racism, brutality, and cold, unfeeling capitalism. 
p We feel the symptoms of it every day, bearing down on us. Making us sick. Making us weak. 
p And people like you, people like those fools trying to make RichLand a reality, you slap a bandage on the wound and call it good. 
p You think happiness and smiles and teamwork will see you through the dark times. 
p But there’s something you need to understand: death is not something to be feared. Death is a part of life. 
p The soil feeds the grass, the grass feeds the rabbit, and the rabbit feeds the wolf, and the wolf feeds the soil. 
p To deny any part of that process is to court disaster. 
p And so I will give you this chance: turn away from the path that you’re on. Your idealism will not protect you in the coming days. 
p So tell me again, and for one last time: will you let the patient die, or will you keep her alive[?]

chapter ../decisions/episode4
validOptions live, die
- // rememberPast, wiseChoice