p Which explains a lot. If you could remember the old world, you’d understand why it had to go. 
p But SILOS robbed you of that. It did something to you.

chapter ../decisions/episode4
validOptions continue
- // endTheta