p No, I’m afraid that isn’t right at all.
p Allow me to introduce myself. Among my siblings the Moirai I am known as Atropos the Unturning. 
p I hold the shears that sever the past to make room for the future. 
p But that’s a bit dramatic, isn’t it? No need for all that theatre. Instead, let’s play a game. 
p Not a sadistic one, like the computer liked to play. I have just one, simple question for you:

chapter ../decisions/episode4
validOptions continue
- // dieOrAlive