p Fascinating. I wonder, then, why you did it? Was it some misplaced sense of duty? Or did you just want to see what would happen...
p Regardless, however, the damage is done. In this world, intention is irrelevant. Lucky for us both, however, I have no interest in your intentions. 
p I only care about your actions.

chapter ../decisions/episode4
validOptions continue
- // whoAmI