p Hmmmm...yes, you have been paying attention. I have a feeling that your enemies will have a good deal to fear in the coming days. 

chapter ../decisions/episode4
validOptions continue
- // areYouPhysician