p I can’t...I just...
p What IS it that motivates you? Some misguided sense of right and wrong? As if those are even things any more...
p Because spoiler alert: there isn’t any such thing. There are simply actions and consequences. 
p You have chosen a path that will be forever fraught with frustration and heartbreak. Your fellow man will disappoint you time and again. 
p Do you even remember the past? The world as it was[?]

chapter ../decisions/episode4
validOptions y, n
- // yesYouRemember, noRemember