p That’s how we broke the old world, by the way. 
p Do you remember the old world? The way things used to be before they fell apart[?]

chapter ../decisions/episode4
validOptions y, n
- // pastStolen, doomed