p So you let her die, and thus your efforts are freed up to help someone else that might live. 
p I know it sounds cold, even cruel, but death is a part of life. 
p It is apparent in every culture, in every religion. We fear death, but we must respect it. 
p Because without it, the cycle of renewal is impossible.

chapter ../decisions/episode4
validOptions continue
- // rememberOldWorld