wait 900
p Whoo! THAT could have gone a lot better. 
p The information you seek was there for the taking, and yet you turned away, rather than conform to a pyrrhic choice. 
p You couldn’t have won against the machine, by the way. 
p It wasn’t intelligent, not in any real way. But it WAS patterned after the craftiest son of a bitch in the history of ever. 
p Which means that it was designed to beat you. 
p Tell me...have you ever heard of a war machine named Joshua, and of David who defeated him[?]

validOptions y, n
- // yesHearDavid, futilityOfWar