p Very good! You may just have the makings of a champion after all. You tried to best the machine. And effort of that kind usually rides sidesaddle to idealism.

chapter ../decisions/episode4
validOptions continue
- // idealistsRunAfoul
