wait 900
p Well well well.
p I bet you’re feeling pretty proud of yourself, huh.
p Standing up to that machine like you did.
p Refusing to play its little games. 
p Big proud simian squaring up to a chunk of silicon and copper and refusing to follow its commands. 
p First time for everything, I suppose. 
p But where are my manners? We haven’t even introduced ourselves. 
p I am the third Moirai. The oldest and the last. I hold the shears that shape the world. 
p You refused to play along with the machine, but pray, play just one with me: what is my name[?]

chapter ../decisions/episode4
validOptions atropos, default
-// endsAndMeans, oneQuestion