p An interesting choice. You would compromise your own health for that of another. 
p But consider this: that every erg of energy you spend tending to a lost cause is an erg of energy you could have used elsewhere. 
p We live for a finite amount of years. Nothing can change that. And as such we have a limited amount of time in which to do good. 
p That said, could it be considered tantamount to evil if we waste resources that might be used to greater effect elsewhere...

chapter ../decisions/episode4
validOptions continue
- // rememberOldWorld