p Imagine! A toy, a silly thing made from copper and silicon and binary, pretending to be alive. 
p As if life is any great feat. As if self-awareness is anything to be proud of. 
p Which is a perfect segway into who I am. Or have you guessed it already yet? Play a game with me. What’s my name[?]

chapter ../decisions/episode4
validOptions default, atropos
- // payingAttention, iAmAtropos