p But we’re getting ahead of ourselves. I know who you are, perhaps even better than you know yourself. 
p But do you know who I am? What’s my name[?]

chapter ../decisions/episode4
validOptions default, atropos, n
- // to payAttention, iAmAtropos