wait 900
p Well hello there. What’s the appropriately portentous thing to say here? “We meet at last?”
p This isn’t Lachesis, by the way. She’s off nursing her wounds.
p But we’ll get to my identity in a moment. First, I have a question to put to you. 
p And please know that I won’t judge you for your answer, whatever it is. It’s not my place.  
p So: did you enjoy doing what you did back there, with the machine? Playing its little game[?]

chapter ../decisions/episode4
validOptions y, n
- // doYouAgree,  onlyActions