p I figured as much. My brother, Atropos, is the same way. He’s always seen things in black and white. 
p That’s what they called his Moirai in ancient times, after all. The Unturning. 
p That’s part of the reason why he thinks the old world needs to die. Because the cycle of renewal is impersonal. 
p Nature doesn’t care for the wounded rabbit, for the fallen leaf, for the broken fellowship. 
p Its eyes are turned outward. Always outward. 

chapter ../decisions/episode5
validOptions continue
- // spencerFortune