p You don’t remember when we met. And maybe that’s best. 
p It was a hard day in autumn, right at the end of the war. The day was cold and threatened rain, but it never delivered. 
p It was grey and grey and grey. In the sky and in our hearts. 
p It was Moll’s funeral, that day. She’d died a hero right at the end of the war. She was just a kid, and as strong a warrior as I had ever seen. 
p We don’t need to talk about how she died. Suffice it to say that if she hadn’t been there for me, I wouldn’t be here today. 
p After the priest and the mourners and even the sextons took their leave, I looked up from my friend’s grave and saw you standing there. 
p The rain refused to come, but your cheeks were wet. I remember that I didn’t say anything. I just walked over and stood beside you. 
p You didn’t look up at me. You just reached out and took my hand and we stood that way until the sun slipped from the grey sky and night fell. 
p Do you remember her? Do you remember Moll[?]

chapter ../decisions/episode5
validOptions y, n
- // yesMoll, noMoll