p But you found a better way then, and you’re finding a better way now. I can’t imagine everything you’ve gone through. 
p How you’ve managed to emerge from the other side stronger than before. 

chapter ../decisions/episode5
validOptions continue
-// immune