p I can’t reveal why that is. Not now. And even though it seems cowardly, you’re going to have to find out from someone you trust more than anyone: 
p Yourself.
p But before you read through those recollections, please understand that I knew you back then. 
p During the bad times.
p And even when things were at their worst, even when you stood the greatest chance of losing yourself...
p You’ve never been anything less than human. Remember that. 

chapter ../decisions/episode5
validOptions continue
- // endZetaTR
- // endThetaTR