p I still don’t know what it was, but it held off the effects of the memory loss long enough to enact Moses’ plan.
p So you gave me your diaries. And I became the gatekeeper to your past. 

chapter ../decisions/episode5
validOptions continue
- // ZetaDiaries
- // endThetaDiaries