p You can’t imagine how it felt contacting you after all these years. Disrupting your life. 
p But I do it because I must. Your diaries are now in the data store at http://lachesis.link/diary-623
p Because the dark times are coming again, and you’re going to need every single part of your past to fight them. 
p Even if they are just apples, sugar, flour, egg, and vanilla.

chapter ../decisions/episode5
validOptions continue
- //end