p I never knew that this day would come. But you’ve proven that you’re ready to face what was, and to brave what will be. 
p I return your past to you. You can find it at http://lachesis.link/diary-556. Do with it what you will.

chapter ../decisions/episode5
validOptions continue
- // end