p And I want you to know that she’d be just so damn proud of the person you’ve become.
p I’m returning your past to you, and with it, a little bit of our friend, who gave her last full measure that we might live on, and fight. 
p Your diaries are now in the data store. You can find them at http://lachesis.link/diary-487. Good luck.

chapter ../decisions/episode5
validOptions continue
- // end