p You've shown me that every day since, you've kept that humanity that you struggled so valiantly to maintain.
p Which is why I’m returning your past to you. Not because of Moses’ plan, but because you deserve to know.
p You’re ready to face the things you’ve done. The person you were.
p You’ve become something greater.
p Your diaries are now in the data store. Read them at http://lachesis.link/diary-992
p It’s time you remembered. Good luck.

chapter ../decisions/episode5
validOptions continue
- // end
