p I was afraid to return your diaries to you, even if it *is* according to Moses’ clever plan.
p But given these last few weeks, I’m afraid that you’re losing yourself.
p There is a hardness in you now. A coldness I never saw before. 
p Your world is all in black and white, with no place in it for the simple joys of apple cake. 
p I’m uploading your diaries to the data store now. Maybe you’ll look them back over and remember what’s important to you. 
p Even if they’re no longer apples, sugar, flour, egg, and vanilla.
p The diaries are at http://lachesis.link/diary-623. Good luck.

chapter ../decisions/episode5
validOptions continue
- // end