p You trusted me once. Back when things weren’t so black and white for you. 
p You gave me your diaries, according to Moses’ plan. He told me we needed heroes, for if things got bad again.
p And things are going to get bad again. I can see it on the horizon. 
p And I’m afraid you’re going to lose who you are. 
p I’m uploading your diaries to the data store. Maybe then you can see that there’s something more to the world than black and white. 
p Read them at http://lachesis.link/diary-992, and maybe you’ll see something more to people than weakness and strength.

chapter ../decisions/episode5
validOptions continue
- // end