p I’m letting you know this because you deserve your past, and because I’m afraid of this path you’re on. 
p You’re angry. I can feel that in your every decision. And you have every right to be. 
p You see the world in black and white. Right and wrong. You see the path forward and damn the consequence. 
p Moll would be so proud of how strong you’ve become, but I’m afraid that you no longer see the forest through the trees. 
p I’m uploading your diaries to the data store now. Read through them. Remember your past. Remember Moll.
p You can find them at http://lachesis.link/diary-487.
p Read them and then decide what kind of person you want to be. 

chapter ../decisions/episode5
validOptions continue
- // end