p I never thought I’d have to return them to you, to be honest. I thought you could go on, to live a new life. 
p And then even I started to forget what happened back then.
p But the bad times are coming again. The times Moses feared.
p And those who cannot remember the past are doomed to repeat it. 
p I’m also doing this because I’m afraid of the path you’re walking.
p You see things in black and white. This is an advantage. It allows you to see predators in the tall grass. 
p But it might also be driving you away from what makes you human. 
p I’m uploading your diaries to the data store. Look them over. Learn your past. Then decide what kind of person you want to be. 
p You can find them at http://lachesis.link/diary-556.

chapter ../decisions/episode5
validOptions continue
- // end