p We talked about her as we walked home that night. You told me about the day of the invasion, about how you fought the Frontman hoard with Moll at your side. 
p We parted then, and I thought I’d never hear from you again. And I nearly didn’t. 
p Later, Moses told me to find find people. Find heroes, and preserve their memories, for when the bad times came.
p It was such a strange thing to ask of you! Here I was, a stranger. Who was I to carry your memories?
p But you agreed. Maybe because I was partially immune from the memory wipe for whatever reason, but mostly because of Moll.
p You wanted me to remember her. To keep her alive in my mind, for however long I could.
p And I want to let you know that I do remember her. Every damn day. Even when my other memories are cloudy.

chapter ../decisions/episode5
validOptions continue
- // endZetaMoll
- // endThetaMoll