p I’ve had a chance to look it all over, and I think it’s time we used what’s inside.
p Atropos may have mentioned that I have your diaries. He seems to think that I’m holding your past hostage.
p But you entrusted me with your most precious possession a long time ago: your former self.
p That was Moses’ plan. He wanted me to find heroes and preserve their memories. For when the bad times came again.
p And there are bad things on the horizon. There is a charge in the air. This world is about to change, and we may need the past to guide us.
p No matter how heavy a burden it might impose.
p So here goes:

chapter ../decisions/episode5
validOptions continue

- // weKnewEachOther