p That breaks my heart. You mentioned once that if you forgot that, you’d have nothing left of yourself.
p But that doesn’t need to be the case. Not any more.

chapter ../decisions/episode5
validOptions continue
- // splitCake