p Then I’m sorry. There really isn’t any way for me to describe her. Not really. Her hair was black. Her eyes were blue.
p But more than all that, she loved. Fiercely. And it gave her strength that most people will never know. 
p I’m sorry that you don’t remember her. But I’ll carry her memory for the both of us.

chapter ../decisions/episode5
validOptions continue
- // everyDamnDay