p I can’t fully say whether I agree with him or not.
p But regardless of how I feel personally, I’ve always tried to be impartial. I provide information and insight, nothing more. 
p That being said, what occurred between us the other day left me shaken. Exposed. The machine knew too much, and...
p Well...
p Did it tell you anything? About the info cache? About me[?]

chapter ../decisions/episode5
validOptions y, n
- // whatDidItGive, extract