p We split the cake, later on in my kitchen, and you gave me your story, and I saved it in the info cache before even *I* forgot everything.
p And when we saw each other next, weeks later on the street, outside the bakery, it was as strangers. 
p You didn’t recognize me anymore.

chapter ../decisions/episode5
validOptions continue
-// endZetaCake
- // endThetaCake