p I met you outside a bakery, of all places. I had just ordered a Rus apple cake and was on my way home when you stopped in front of me and froze. 
p I asked you if you were okay, but you had this faraway look on your face. You asked me what I had in the bag. 
p You know, it’s funny...for a second I thought you were the most fascinating mugger I’d ever met. 
p But when I showed you the cake, this look came over you. 
p It’s hard to describe. 
p You never explained to me the significance of a simple cake. It was just apple, sugar, flour, egg, and vanilla. 
p But it seemed to mean so much more to you. Do you remember it? The cake[?]

chapter ../decisions/episode5
validOptions y, n
- // yesCake, noCake