p That’s a comfort, in a way. You’ve come a long way from the person you were back then.
p All you saw was weakness. All you saw were flaws. 
p To you, all was black and white.

chapter ../decisions/episode5
validOptions continue
- // cantReveal