p We met just after the SILOS War. At the university. We were part of the same case-study on post-human cerebral modifications. 
p I was there because for some reason, the SILOS memory wipe took longer to affect me.
p I’d been in close proximity to Frontmen during the war, just like you. Just like so many others. 
p But for some reason, the subaudible signal they used to erase short-term recollections was only partially affected me. At first.
p They were never able to tell me why, nor were they ever able to duplicate it. 
p You, on the other hand, you were there for a different reason altogether. 
p But first, tell me: what do you see when you look at other people? Weaknesses? Or strengths[?]

chapter ../decisions/episode5
validOptions strengths, weaknesses
- // strengths, weaknesses
- // strengths, weakenssesTheta