p And why wouldn’t you have been? Some say that we’re nothing more than the sum of our experiences.
p But I sensed then, and I sense now, a deep bravery within you. A resolve to never stop fighting.
p And that’s what helped you survive then. That’s what’s going to help you survive now.

chapter ../decisions/episode5
validOptions continue
- // immune