wait 900
p Hey. It’s Lachesis.
p I don’t really know what to say. 
p I mean, there isn’t really a greeting card for “Gee, thanks for standing up to a malignant artificial intelligence for me.”
p But hey. 
p Thanks for standing up to a malignant artificial intelligence for me. 
p It couldn’t have been easy.
p So tell me, did it answer ANY of our questions before it terminated the connection[?]

chapter ../decisions/episode5
validOptions y, n
- // iSawThat, capitalEvil