p I wouldn’t have expected that of you. You sound like my brother, Clotho. 
p Clotho never ascribed to a world of black and white. His is a universe writ in manifold greys. 
p He likes to say that nature is cold and impersonal, that the cycle of life pays no heed to the wounded deer, to the fallen leaf. 
p But that we, as people, have the ability to see beyond the cold calculation of the natural world and make something better. 
p He believes that we can heal.

chapter ../decisions/episode5
validOptions continue
- // spencerFortune