p We met outside the Bloc. You’d just rescued my brother. One of them.
p You’d met him at an open-air market during the first wave of the SILOS invasion. 
p He never really said that much about it, only that you saved him from something far worse than death.
p Then, when the real war came, we were all pretty preoccupied. 
p Afterward, Moses told me to find heroes and preserve their memories. You were one of them.
p SILOS had done something to your mind. To this day we still don’t know exactly what it was. But it erased most of your memories of what happened. 
p But you already know that. What you might not have known is that you felt it happening. And were afraid.  
p At least, that’s what I thought at the time. Were you afraid, then? Or were you just angry[?]

chapter ../decisions/episode5
validOptions angry, afraid
- // angry
- // thetaAfraid
- // zetaAfraid