p Then there might be some hope left yet. You once told me that if you remember that cake, you’d still be yourself, no matter your memories. 

chapter ../decisions/episode5
validOptions continue
- // splitCake