p And why wouldn’t you have been? Some say that we’re nothing more than the sum of our experiences. 
p Back then, you didn’t know how far back the memory wipe would reach. You were at risk of losing your entire self. 
p So yeah, I get it.

chapter ../decisions/episode5
validOptions continue
- // immune