wait 900
p I’m sorry that it’s taken me a while to get back to you. 
p This is Lachesis, by the way. 
p You know, it’s funny...when I set out to find the truth about the world, I thought I could do it objectively.
p Because to me, that WAS the truth. An objective thing that didn’t change no matter what angle you’re looking at it from. 
p Do you feel that way? IS there an objective truth to the world[?]

chapter ../decisions/episode5
validOptions y, n
- // alwaysOutward, weCanHeal