p Ah. Good. This was the first test, and a simple one. I wanted to see if you’re willing–and able–to tell the truth. 
p Because people are interesting, aren’t they? So willing to prevaricate. So willing to dissemble and hedge and misdirect.
p Especially when they’re afraid of what’s coming over the horizon. 
p So tell me, friend, are you afraid of what the future holds? YES or NO[?]

chapter ../decisions/episode3
validOptions y, n