p Okay, cool.
p So the super infamous and super-dead Aidan Spencer (whose estate owns the patent on the terminus in your hand) wasn't exactly what you'd call a self-made man.
p His father, Johann Spencer, immigrated to the Tech Republic like sixty years ago, poor as a church mouse.
p He was partnered with a fella named Josef Driver. Yeah. Moses Driver’s dad, of all people.
p Johann and Josef were the first people to understand Artificery as it really was.
p They were the ones who designed the Terminuses we’re using right now, the neutral matter Feed, the central data stacks, all of it.
p And then they had this huge falling-out.
p No one knows why. But Old Man Driver left the company they created and became a farmer, of all things.
p Spencer went on to get insanely rich, growing his company, now called SpencerCo, into the largest corporation in the world.
p He basically designed the entire backbone of civilization.
p At some point, he got married and had two kids.
p One, Delia, was the apple that fell far from the tree. She wasn’t interested in business. Was more into artistic expression and personal freedom.
p Her story ends bad, though.
p She emigrated to Arthaus and got married herself. She was still there when SILOS hit, and she died in the opening salvo.
p On the other hand, Aidan was just Johann writ small. Corporate greed through and through. When the old man died, Aidan took over.
p Renamed the company Aidan Spencer Unlimited of all things.
p Grew the company even more. Some might say TOO much.
p See, Aidan’s aim was to design products for every facet of human life. To meet every single need.
p But a lot of folks saw that as a little too intrusive.
p They said that a company who provided you with everything could deprive you of anything.
p Which is kind of a scary thought.
p Because when you get right down to it, there might come a day when we look up and find that all our choices are gone.
p And it won’t be because someone came and took them.
p It’s going to be because we gave them away.
p Whew. Okay. Lemme just put my soapbox away.
p Anyway, regardless of whether Aidan was full of nefarious nougat and perilous peanuts or not, he died in the SILOS War. Just like his sister.

chapter ../decisions/episode3
validOptions continue
