wait 900
p Hey. It’s me.
p Okay, things have gotten really weird over the last couple days. 
p Weirder than usual, I mean. 
p So I gotta ask, has anything weird happened to you over the last couple days? Seen anyone unusual[?]

chapter ../decisions/episode3
validOptions y, n
