wait 900
p Hey. It’s me. 
p Okay, things have gotten a little weird over the last couple days. 
p I keep feeling this little tickle in the back of my skull, like there’s someone back there, just out of view. 
p And I find myself wishing that I’d had the guts to follow those guys back on the path, find out what they were up to. 
p I mean, they were probably just out walking their giant, ferocious, weapon-laden mechanical dog, right? 
p Ha. Right. 
p But I need to ask (and I’m kind of afraid to), have you seen or heard anything weird over the last couple of days[?]

chapter ../decisions/episode3
validOptions y, n
