p The Spencer line is over, and with it, whatever influence it might have exerted on the fate of the world.
p So that leaves us with a few questions...
p Like how Harcourt ended up with all this tech. And what his ultimate goals are. And why are Moses’ alarms are going off.
p Headscratchers, all.
p But! Of course I have a plan. And yes, it will require some stone-cold gumption on your part. 
p So what do you say, you wanna help me out[?]

chapter ../decisions/episode3
validOptions y, n