p It’s probably going to be a little more difficult without you, but I get that you’re not ready.
p I wouldn’t want to be online any longer than I have to, either. 
p Okay, I’m off to find what I can find. Watch your back.

chapter ../decisions/episode3
validOptions continue
