p Oh shucks! That isn’t the right answer at all. Sorry, Charlie. Bad luck, Chuck. 
p Our little game is over. Better luck next time.  
p (Connection terminated)

chapter ../decisions/episode3
validOptions continue
