p Ooh! A little bit of gumption. I like that. 
p Maybe you’re not like all the others. Maybe you aren’t as willing to claw your way to the top with all your biological ilk. 
p Or maybe you’re just too cowardly to do what must be done to succeed. 
p The difference is negligible. To me, anyway. 
p But I bore easily. Keeping Lachesis at bay is no longer amusing, so I’m going to leave you with this:
p I’m uploading the data cache directly to Lachesis’ data store. She’ll doubtlessly share it with you when the time comes.
p I’ve seen what’s inside it, you know. What makes you special. Do you want to know what it is?
p It's pain.
p Pain makes you special. So by all means, continue on this quest. Open Pandora’s box. But don’t expect it to shut ever again.
p And by all means, go on and tell Lachesis all about our little talk. It will do neither of you the least bit of good.
p Your fellow humans are planning something terrible, and there is very little you can do to stop it.
p (Connection terminated)

chapter ../decisions/episode3
validOptions continue
