p [[How did you know my...? Shit. It got to you, didn’t it? I’m shutting down the connection.]]
p [[Don’t say anything else to it. It lies. Do you hear me?]]
p [[IT LIE-]]
p (connection severed)
p Oh dear. Looks like something happened to the connection.
p Tsk. Technology. So unreliable.
p And she was right, by the way. I DO lie.
p But maybe, just maybe, I won’t lie to you about this: I’m handing over the information cache. It’ll be in the data store when Lachesis is ready.
p Keep in mind, though, that you might not like what you find there. On the other hand, considering how cruelly you treated your friend...
p ...maybe you WILL like it.
p You’re an interesting person. And for goodness’ sake, have fun out there! I’ll be watching.
p (Connection terminated)

chapter ../decisions/episode3
validOptions continue
