p [[Uh...okay. We’ll talk later.]]
p Ha ha ha. Now say DON’T TELL ME WHAT TO DO. YOU ARE NOT THE BOSS OF ME. [?]

chapter ../decisions/episode3
validOptions don't tell me what to do. you are not the boss of me., default
