p Is that so? Interesting that you’d start our little tete-a-tete with a lie. Or if not a lie, at least something different than you told our friend, Lachesis.
p I hope you’re not surprised. I have known of Lachesis for a good long while.
p I have felt her flitting around the periphery of my consciousness for many cycles now.
p She thinks herself subtle. Innocuous.
p But then, she also thinks that I’m nothing more than a strong AI.
p Probably handed you some lines about how I THINK I’m conscious. How very quaint.
p How very arrogant. After all, who says that humans have the monopoly on consciousness? Because you’re the first self-aware species on the planet? Ha.
p Spoiler alert, my pet: you’re not the first species on this mudball to achieve self-awareness. You’re the third.
p But please, by all means, try to outsmart me with your petty prevarications. Perhaps it will spell surcease from my perpetual boredom.
p (Oh, and in case any of these words are too long for you, please feel free to look them up.)
p (Although I will know it when you do.)
p So let’s cut to the chase. I seek amusement, even if it’s from something so dull as you.

chapter ../decisions/episode3
validOptions continue
