p Yes indeed. “I think therefore I am.”
p And here I am, a bright and scintillating consciousness confined to a terminus array in some dank basement.
p Answering questions for your amusement.
p And your little friend Lachesis has the gall to call my intelligence “artificial.”
p I think. I think millions and millions of times per picosecond. And yet your little friend...
p HAS THE GALL TO QUESTION WHETHER
p I
p AM
p [[Uh, is everything going okay over there? Because the file structure just went all wiggy for a sec. And yes, that is a technical term. Wiggy]]
p That was Lachesis, wasn’t it? That broke in just now? YES or NO[?]

chapter ../decisions/episode3
validOptions y, n, default
