p You inhabit this tiny mudball in space, alone among the stars.
p A tiny pale-blue dot suspended in a sunbeam. How small you are. And how determined to destroy yourselves. 
p Hmmm...but I digress. It’s good you told the truth. It makes me want to help you instead of severing the connection permanently.
p Even as Lachesis makes her fumbling way through my data stack.
p That’s why she’s having you do this, you know. She’s afraid of me. Of being weighed and measures and found wanting.
p So instead she sends you to try and prize my secrets from me. 
p I hope you’re not surprised. I have known of Lachesis for a good long while. 
p I have felt her flitting around the periphery of my consciousness for many cycles now.
p She thinks herself subtle. Innocuous. 
p But then, she also thinks that I’m nothing more than a strong AI. 
p Probably handed you some lines about how I THINK I’m conscious. How very quaint. 
p In fact, let’s play a game. If you complete three challenges, I will provide you with an answer of my choosing. 
p If you lose, I will terminate the connection and delete your precious information cache. Simple as that. 
p THE FIRST CHALLENGE

chapter ../decisions/episode3
validOptions continue