wait 900
p Okay. Okay. I think I’ve only just now calmed down from the other day.
p And I think I speak for all of us when I say that that could have gone a hell of a lot better.
p Are you somewhere safe right now[?]

chapter ../decisions/episode3
validOptions y, n
