p Wouldn’t you prefer a nice game of chess? Kidding. 
p Incidentally, though, Global Thermonuclear War has a lot in common with tic-tac-toe.
p So be a buddy and complete the following phrase. 
p THE ONLY WAY TO WIN IS[?]

chapter ../decisions/episode3
validOptions not to play, default