p Whoever we’re dealing with here, they’re taking our presence pretty seriously. 
p Serious enough to send a couple members of the goon squad and a walking tank as a “Hey how are ya?”

chapter ../decisions/episode3
validOptions continue