p Super. All right. So here’s the thing: the Writers’ Bloc data cache is kaput.
p But...there is a backup.
p But...uh...maybe you won’t like where it is.
p Because as I may have mentioned, Moses had kind of a sick sense of humor.
p Plus he really really (really) liked security. So even though Aidan Spencer Unlimited is long gone...
p And even though their data centers are long disassembled...
p Somewhere within the ruins of the old buildings, a small cluster of outdated terminuses are still online.
p Mainly because no one thought to look for them. Except for Moses.
p He planted the backup cache on that data stack, so I’m gonna make a run at prizing it loose.
p It will be your job to distract a...uh...hyper-intelligent, malignant artificial intelligence while I make my move.
p See, uh, the old systems ran on this rickety artificial intelligence protocol. It acts like it’s intelligent. It speaks like it’s intelligent. 
p But no matter what it says, it’s not real. It’s just a machine. Nothing more. 
p Just one caveat before we start. This thing was designed on Aidan Spencer’s personality matrix.
p So it’s kind of a...well it’s kind of an asshole. But a smart one. Which is why Moses chose it to safeguard the data.
p And the thing is...he never super-explained how to interact with the damned finicky thing.
p And oh yeah it will expect you to answer its questions PRECISELY.
p But not only that, it’s going to try and fluster you, get you to lose sight of the objective.
p Whew. Okay. Not nervous at all. But we get exactly ONE shot at this. 
p Just send me the message OK when you’re ready and I’ll send the handshake. And good luck.[?]

chapter ../decisions/episode3
validOptions ok, default