p Then you’re a fool. I can see far with my many eyes. A great darkness is amassing on the horizon. And you are too blind to see it. 
p But then, that’s h. sapiens for you. So short-sighted. You pollute your only home. 
p Drive your brothers and sisters into poverty, disease, and death. 
p Eradicate hundreds of species species with casual aplomb. 
p And then you take a look at SILOS and use the word “monster.”
p And yet…

chapter ../decisions/episode3
validOptions continue