p That’s cool. I’ll take what I found and leave it in the database in case you wanna go back over it later. 
p In any case, this is where we’re at:

chapter ../decisions/episode3
validOptions continue