p Well then what the hell are you talking to me for?! Move your ass. Get to a secure location NOW. 
p Find a place to go to ground then send me the message ALL CLEAR when you’re secure.

chapter ../decisions/episode3
validOptions all clear