p [[Yikes. Sorry. You don’t have to get all snippy. Just try and get the info and get off the line. I don’t trust this thing.]]
p Yes! This is great. Now say IF YOU’RE SO SMART, MAYBE YOU SHOULD TRY TO SAVE THE WORLD WITHOUT MOSES’ HELP, GLORIA. OR ARE YOU UNEQUAL TO THE TASK? [?]

chapter ../decisions/episode3
validOptions if you're so smart, default
