p Cute. And correct. But complete and total bullshit. You can easily win a game of Global Thermonuclear War.
p The trick? You have to be willing to sacrifice more than your enemy.

chapter ../decisions/episode3
validOptions continue