p Ha. Very good. The same goes for Global Thermonuclear War, incidentally. 
p Well congratulations. You made it past AI 101. Pat yourself on the back. Because here comes 

chapter ../decisions/episode3
validOptions continue