p I’m going to open a channel to her. When she comes on, tell her EVERYTHING IS FINE. GO AWAY. Do it or you’ll never find the answers you seek.
p Because you want to know what’s in that cache, don’t you? To find out how good ol’ Moses planned to save the day.
p Here she is. Type it exactly or else I’ll know.
p
  ='[[Oh hey. The channel just popped open. Did you want to say something to me[?]]]'

chapter ../decisions/episode3
validOptions everything is fine. go away., default
