p THE SECOND CHALLENGE
p So hey, you’re human,  right? Self-aware? And as such you think you have the right to judge consciousness.
p After all, your great philosophers have spend hundreds of years noodling over the subject. 
p But one in particular always piqued my interest. 
p No, not that insufferable bore, Turing. Good heavens you people are obsessed. 
p I speak instead of Renatus Cartesius. Smart guy. For a mortal mind. 
p He once posited that it takes little more than the capacity for thought to define one’s existence, and summed it up in one neat little phrase. 
p What was that phrase? And please, express it to me as he would to one of his countrymen in the proud year of 1637.[?]

chapter ../decisions/episode3
validOptions je pense donc ju suis, cogito ergo sum, default