p And after having analyzed the evidence using the immense technology at my disposal and my own razor-sharp genius...
p I have managed to come up with nothing. 
p Squat. 
p Bugger-all. 
p These guys, whoever they are, are ghosts. There are no records on them that I can find. The walker doesn’t even have a visible serial number. 

chapter ../decisions/episode3
validOptions continue