p I was on my way back through the woods (having found my own way home, thanks)...
p When I came upon these dudes coming up the path in front of me. 
p Now, that’s not entirely unusual. People walk places, right? Even secluded paths to semi-abandoned cities.
p But something about them wigged me out. Maybe it was how quiet they were moving. Maybe it was their faces. 
p Maybe it was the house-sized mechanical walker they had with them. The one with the huge autocannon. 
p I dived into the bushes before they could see me. At least, I think they didn’t. There’s no way to know what kind of sensors that walker had onboard. 
p For all I know it could have had infrared and millimeter wave radar and a nose like a bloodhound. 
p They breezed on by, thank goodness, just chattering away like a couple of magpies. I even managed to snag some video. 
p Here, check it out. http://lachesis.link/3506
p I’ve gone over the footage with a fine-toothed comb, analyzed voice metrics, facial rec, even the make and model of their shoes. 

chapter ../decisions/episode3
validOptions continue