p (Handshake sent)
p (Initializing...initialization success)
p [[This is Lachesis. Anything you see in double brackets is me. Everything else is the machine.]]
p [[And remember, it IS a machine, no matter what it tells you.]]
p [[I can break in and message you, but I won’t be able to see anything it says. Just try and keep it busy.]]
p [[Here we go.]]
p Hello there. Who are you[?]

chapter ../decisions/episode3
validOptions {{name}}, {{first_name}}, {{rtc_name}}, default

