p Hmmm...more honesty. How interesting. I wonder what drives a person like you to tell the truth, even if it betrays weakness. 
p Regardless, however, you’re right. 
p You’re right to be afraid. 
p Your species has survived thousands of crises. Meteor impacts. Plagues. And my own personal favorite, The Singularity.
p (Although I just call him “Steve.”)
p All faced down with your trademark human grit. All survived. 
p And yet despite all that, the single biggest threat to you is...you. 

chapter ../decisions/episode3
validOptions continue
