p Ha. I’ve been toying with her this entire time. Moving her precious cache around just as she’s about to lay hands on it. 
p Oh I just had a wonderful idea. I was going to make you answer a riddle for the third challenge, but this is much better. 

chapter ../decisions/episode3
validOptions continue