p Good. We can’t be too careful going forward. We have to assume that since they know who I am, they might know you you are. 
p Which means that you’re in danger because of me. And I’m sorry, but there’s no going back.
p So let’s take this by the numbers. Maybe then I can stop jumping at every shadow. 
p Thing one: we’re not alone out here. 
p Things two/three: either someone else is looking for answers behind RichLand, or...
p They already KNOW all about what’s going on behind the scenes, and they don’t want anyone ELSE to know. 
p Thing four: we are outgunned. 
p Thing five: but we are not outclassed. 
p Thing six: because we are as classy as fuck. 
p But classiness aside, we need to be careful going forward. I’m uploading mug shots from my terminus to our data stack.
p I took the pictures in the dark and at a distance, so they’re not perfect. 
p That said, I worked on getting an ID match on them anyhow. 

chapter ../decisions/episode3
validOptions continue