p That can’t be good. Listen: if you see em again, DO NOT confront them. Just take a picture and send it my way.
p But for corn’s sake don’t let them see you. Because I think that we’re being watched. Hell, I know we are. 

chapter ../decisions/episode3
validOptions continue