p Well crap. That’s what I was afraid of. Dang it all...if I had just gotten some video of those guys, I might have made an ID. 
p As it is, I can’t even warn you that they might be sitting at the next table over at the coffee shop. 
p Well if you DO see anyone suspicious, don’t alert them. Our biggest advantage right now is that they don’t know that we know that they exist. 

chapter ../decisions/episode3
validOptions continue