p So here’s what we know: Albert Harcourt came out of nowhere and started the RichLand project.
p He’s got Aidan Spencer-level resources, but we don’t know how.
p And when Lachesis tried to dig up more information on the project, the more obvious it became that someone was trying to cover it up.
p Just after she made contact with you, her asset in the program, Sascha, went dark.
p And then, when we finally make contact with Sascha, she warns us that we’re blown, just before Lachesis gets taken.
p So many puzzle pieces, and none of them fit.
p So this is where you come in.
p You registered for the Richland opening gala.
p Lachesis wanted to develop you as an asset and send you in to gather information on the project, and on Harcourt.
p But she’s gone, and her plan with her. She was the only one Moses told his entire “save the world” plan to.
p So I’m sorry, but you’re going in blind.
p Atropos and I will be online for support, but we don’t know if our identities were blown along with Lachesis’s.
p If we show up IRL, we might be walking right into a trap.
p But listen: it’s not safe for us to talk any more.
p Just stick to the plan: go to the RichLand opening gala, keep your eyes peeled, and watch your back.
p After all, best case scenario, the gala is going to be a boring conference about emerging tech and industry.
p Worst case, I dunno, everyone is werewolf Frontmen?
p Somehow, we’re going to find Lachesis, extract Sascha, dig up Richland’s secrets, all while keeping Atropos from killing anyone.
p And I...I just want you to know that despite all this, I still believe.
p I still believe in people. I still believe in that we can make something amazing if we work together.
p We can make something greater.
p I’m giving Harcourt the benefit of the doubt. For now.
p So hey: good luck out there.
p (Connection terminated)

chapter ../decisions/episode9-a
validOptions continue
- // end
