p Harcourt has been playing the long game with RichLand. He’s building a community out here in the middle of nowhere.
p Even if he knew we were digging for secrets, what would be worth making a move that could backfire so dramatically...
p I want to believe that there is a distinction between ambitious and self-serving. Between decisiveness and evil.
p But I just don’t know enough about Harcourt’s operation to make that call.
p We’re flying blind here.
p Lachesis was the brains of the operations, and now she’s gone.
p Atropos is this close to flying off the handle. He has Harcourt in his sights and wants blood.
p What about you? Do you think we should just storm the compound, guns blazing, and get Lachesis out[?]

chapter ../decisions/episode9-a
validOptions y, n
- // yesStorm, noDontStorm