p You’re right. Something smells off about this entire operation. I feel like we’re being played, but by whom? And for what purpose?

chapter ../decisions/episode9-a
validOptions continue
- // endEp9a