p We thought we were secure here. Lachesis had taken every precaution to cover our tracks.
p She was so sure that Atropos and I would be the ones putting ourselves at risk out there.
p She was so sure that...oh God.
p We came back here after we blew the infiltration.
p The aetheric connection was down. I hoped it was just a bug.
p Atropos stole an entire transpo from the base, can you believe it? He said he didn’t care if they knew it was us.
p We ripped right out of the loading bay and tore right through the south fence.
p Drove back to Lachesis’s safe house as fast as we could.
p But when we arrived, she was gone.
p There were signs of a struggle, but not much of one. We found her chair tipped over in the middle of the room.
p A spilt cup of coffee on the floor. There was still steam coming off it.
p Her RichLand notes were still there, though. All her research.
p It’s like they didn’t want any of our information. They just wanted HER.
p Atropos is convinced that it’s Harcourt’s men that took her.
p Me? I’m not so sure.
p What do you think? Was it Harcourt or someone else[?]

chapter ../decisions/episode9-a
validOptions harcourt, default
- // harcourt, anotherPerson