p Agck.
p Guard came out of nowhere. Nailed me in the jaw.
p Standing over me, getting ready to call it in...
p Guess he wasn’t ready for a stunner to the ankle. He’s out.
p Shit. I’m out of time. I can’t raise Lachesis for some reason and I don’t know this interface.
p Time to plant some det thread on the panel and get the hell out.
p Hopefully that will do it.

chapter ../decisions/episode7
validOptions continue
- // getHimOutside