p Shit!
p Guard came in just as I was setting up the power cut.
p I didn’t have time to contact Lachesis to have her shut it down. She didn’t pick up right away.
p I just slapped some det thread on the underside of the panel.
p He hasn’t seen me yet, but that panel is going to go in a few seconds.
p I can slip away, but he’ll be killed when the det thread goes.
p Should I just go or warn him[?]

chapter ../decisions/episode7
validOptions go, warn
- // justGo, warnHim