p Good call. I’m heading there now.
p I’m here.
p No one’s home. Luck is holding out. For now.
p There should be a utility access panel in the back here...
p What the fuck?
p They have a Feed main back here! This tech was supposed to be lost back during the SILOS War. How do they have access to it?
p No time for that. I’m going to blow it with the det thread. Setting it up.
p Okay, I set it for a slow burn, which leaves us about ten minutes to cut the power.
p Heading to the power station now.
wait 300
p Took longer to get here than I thought. I’m inside.
p It looks like the building is automated. Small miracles. I can get in and–

chapter ../decisions/episode7
validOptions continue
- // barracksContinueProtection
- // barracksContinueStealth