p Damn it!
p He lunged at me! Right across the cab.
p Big old knife in his hand.
p I pulled behind it and pushed it away. It got stuck in the dashboard.
p Son of a bitch!
p I grabbed his wrist with my right hand and hammered his elbow with my left.
p Heard the joint go.
p Okay he’s pissed now.
p Can’t get to my stunner. He’s hitting me.

chapter ../decisions/episode7
validOptions continue
- // armorHoldingUp
- // wishIdWorn