p He’s killing my coat and ignoring me. Diving into the swamp. Hang on.
wait 600
p O-o-o-kay. Good news is that the dog was satisfied to kill my jacket. He probably can’t smell me anymore either.

chapter ../decisions/episode7
validOptions continue
- // swampAss