p If I had my armorgel, I might have taken the blast. As it is, I might survive if the concussion passes over me. He won’t. 
p Should I warn him or wait[?]

chapter ../decisions/episode7
validOptions wait, warn
- // wait, fifteenSeconds