p I’m heading for the eastern marsh. I’ll let you know when I get there.
wait 900
p Okay, now I know why they don’t really guard this approach.
p Because it’s a fucking marsh.
p Waist-high weeds sticking out of waist-high water.
p Water that smells like dead things and despair.
p Oh, and in case you forgot about the time slip? I’m doing this in the dead of night.
p So thanks for that.
p Ugh. I never really understood the concept of slogging until now.
p Still, it’s kind of quiet. Give me a little bit to get to the other side and we’ll go from there.
wait 900
p I’m there, just on the other side of a dike from the main compound. I–
p Shit!

chapter ../decisions/episode7
validOptions continue
- // guardDogProtection, guardDogStealth