p I have the option of getting kitted out in a sintered armorgel suit. Feels like gritty Jell-o, protects like a stack of telephone books.
p Or I can go with a semi-powered infiltration rig. Doesn’t offer much in the way of kinetic protection, but keep me hidden from infrared and millimeter wave.
p You’re op support. Which one should I go with? Protection or stealth[?]

chapter ../decisions/episode7
validOptions protection, stealth
- // protection, stealth