p I can...hang on.
p Clotho is breaking radio silence.
p Said he found Sascha.
p She’s alive. That’s good news, even is she is blown.
p But...wait?
p Oh my God.
p It’s Lachesis.
p Clotho is saying that Sascha isn’t blown. We are.
p --Lachesis. Lachesis?!--
p --GLORIA?!--
p Damn it!
p Lachesis isn’t answering.
p We’re burned. It was all a setup to draw us away.
p We’re making an emergency exfil.
p Someone has Lachesis. Someone has my sister.
p And they are going to pay.

chapter ../decisions/episode7
validOptions continue
- // end