p Good call. Clotho might be heading that way. And if he is, he’s going to need all the help he can get.
p Okay. I’m getting suited up.

chapter ../decisions/episode7
validOptions continue
- // encounterArmor