p Me: This place is going to go up in about fifteen seconds. You might want to run.
p Him: Shut up. You’re under arrest.
p Me: Under whose...never mind. Ten seconds.
p Him: What are you–
p Me: Five–
p Him: Talking–
p Me: Four–
p Him: What–
p Me: You’re going to die. Is this job worth it? Two.
p He’s making the right choice. Dragging me out the door. We might–
wait 600
p Okay ow. Two steps out the door and the barracks went up in a ball of flame. The guard took a chunk of plaster to the head but he’s okay.
p Gonna have a headache when he wakes up for sure.

chapter ../decisions/episode7
validOptions continue
- // endZetaRun