p Wow. That is...surprisingly boring. Okay, here goes. Hope he at least tries to run me over.
p I’m out on the road. He’s pulling to a stop.

chapter ../decisions/episode7
validOptions continue
- // flagContinueProtection
- // flagContinueStealth