p I’m going to try something subtle here.
p The instant he stops I’m going to pull open the door and dive into the cab.
p It is the best plan ever.
p Ow okay. Worst plan ever. He grabbed me and pulled me into the cab, smashed me into the far door.
p Armor sucked up the damage but my head is ringing.

chapter ../decisions/episode7
validOptions continue
- // damnIt