p Not the most exciting plan, but discretion and valor blah de blah. Here goes. Hope he’ll stop.
p I’m out on the road. He’s pulling to a stop.

chapter ../decisions/episode7
validOptions continue
- // flagContinueProtection
- // flagContinueStealth