p Hahaha...he stopped next to me and I activated the optical camo.
p I just disappeared right in front of him.
p I’m moving around to the opposite side of the cab while he’s looking the other way.
p I’m in. He heard the door.
p Oh man this is the best.
p Here. I’m gonna decloak in front of him.

chapter ../decisions/episode7
validOptions continue
- // shouldIStun