p All right. I’m heading for the fenceline. I’ll contact you when I’m there.
wait 900
p I’m here. I’ve taken up position on the eastern stretch of the main road where I can see the base and the approach.
p And from what I can see, there are two pieces of bad news.
p The first is that I can see Clotho from here, plain as day. He’s hiding on the west side of the approach just looking at the fenceline.
p And from his posture, he’s just realized the second piece of bad news: the fenceline is electrified.
p He’s never going to make it in without our help.
p So we have two options: we can try and get him through the front gate somehow...
p or else we can head around back north and hit the power station first, give him a chance to get over the fence.
p Up to you: front gate or northern approach[?]

chapter ../decisions/episode7
validOptions gate, northern
- // gate, northeast