p Front gate it is.
p It looks like we’ll have to...
p Hang on.
p Ha. I don’t know if you called in a favor from the man upstairs or what, but I just spotted a transpo in the distance.
p It’s heading right this way.
p We might be able to commandeer it and use it to get Clotho inside undetected.
p Okay, it’s almost here. We have two options. I can wait on the hillside adjacent to the road.
p Then, when the transpo comes underneath I can jump down onto the trailer and get a drop on the driver, force him to drive me in.
p Or, I can flag the driver down on the road, then hit him with the stunner when he stops.
p Your call. Hilltop or flag him down[?]

chapter ../decisions/episode7
validOptions hilltop, flag
- // hilltopClotho, flagClotho
- // hilltopAtropos, flagAtropos