p I manage to get him outside just as the panel goes up.
p Boom, there go the lights.
p Boom, there goes the barracks.
p Awesome. That means that Clotho should be free to...

chapter ../decisions/episode7
validOptions continue
- // endZetaRun