p Yeah I’ll...dammit.
p I can’t. I made a promise to Clotho. But I’ll remember this. You’re able to make the hard decisions.
p I pop out of nowhere in front of him. His look is priceless.
p To his credit, he lobs a startled punch at me. I slap it away.

chapter ../decisions/episode7
validOptions continue
- // fifteenSeconds