p A guard dog! Came out of nowhere and clamped down on my arm.
p The gel is holding but the pressure hurts like hell.
p I can’t get it off!
p Can’t reach my stunner.
p He’s going to tear my arm off!
p I can reach a rock nearby...should I hit him[?]

chapter ../decisions/episode7
validOptions y, n
- // yesHit
- // dontHitClotho, dontHitAtropos