p Good call. I’m sneaking up behind him.
p Bam. He’s down, no problem. Looks kinda peaceful.
p Gotta haul his ass outta here quick. This will be a close one. I’ll–

chapter ../decisions/episode7
validOptions continue
- // fifteenSeconds