p A guard dog came out of nowhere. He can’t see me, but he can smell me.
p Optic camo won’t do much for smell.
p He’s closing in. I don’t think my stunner will work through his fur.
p But I can reach a rock from here.
p I can try and kill him when he comes close, or I can slap some swamp mud on me and hope it covers my scent.
p The movement might alert him, though.
p He’s growling and moving this direction. Fuck. Real quick, rock or mud[?]

chapter ../decisions/episode7
validOptions rock, mud
- // rock, mud