p Nice. That one’s my favorite too. After all, what would an infiltration be without some serious risk to life and limb...

chapter ../decisions/episode7
validOptions continue
- // hilltopBothContinue