p They have a Feed main back here! This tech was supposed to be lost back during the SILOS War. How do they have access to it?
p No time for that. I’m going to blow it with the det thread. Setting it up.
p I have about a minute before it goes...

chapter ../decisions/episode7
validOptions continue
- // powerStationContinueProtection 
- // powerStationContinueStealth