p I’m in armorgel. I might survive. He won’t. I can warn him or just wait and let the blast take care of him.
p Should I wait or warn[?]

chapter ../decisions/episode7
validOptions wait, warn
- // wait, fifteenSeconds