p You have what it takes to get this thing done. I can feel it.
p Here are our operating parameters: I’ve got you plugged into my haptic rig. Which means that I can talk to you without typing.
p You’re going to get access to a topo map in the data store. I don’t have optical overlay, so your job is to act as support.
p You help me decide where to go, what targets to hit.
p I’ll be in sporadic contact with Clotho, but short-range signaling might alert any listeners to our presence, so that’s mostly out.
p It’s just going to be you and me out there.
p If we screw this up, or if we hesitate at the wrong moment, Clotho could get caught. The asset might end up blown or dead.
p Just keep that in mind.
p Now take a look at the map.
p Clotho is going to approach from either the north, across the river, or south across the fenceline.
p Unfortunately, we don’t know which way he’s going to choose yet.  His targets are all soft.
p We, on the other hand, have hard targets. There is a power station that feeds the whole area, as well as a guard barracks.
p We have to hit both, to blind the enemy and distract him.
p Our options are to approach from the south fenceline (while watching for Clotho), or across the marshes to the northeast.
p Fenceline or northeast[?]

chapter ../decisions/episode7
validOptions fenceline, northeast
- // fenceline, northeast