p But the proof is in the pudding, as it were. If you really want to do this, I need you to understand one thing: from this moment forward, we’re on mission.
p And that means we’re going to do what needs to be done in order to fulfill it.
p If that’s too much for you, I can switch you back over to Clotho. Are you onboard, or do you want to bail[?]

chapter ../decisions/episode7
validOptions onboard, bail
- // onBoard, bail