p Shit.
p A guard just slipped in next to me. My active camo is up, so he doesn’t see me.
p I can slip past him, but if he stays here he’s dead. I could stun him and drag him out. Think fast: should I run or stun[?]

chapter ../decisions/episode7
validOptions run, stun
- // guardRun, guardStun