p Agck.
p Guard surprised me.
p Caught me in the jaw. Lights almost went out.
p He has me in a joint lock. I can’t get up.
p And that det thread is going to send this whole place up in about twenty seconds.

chapter ../decisions/episode7
validOptions continue
- // dogTook
- // mightSurvive