p Power station it is. Gimme a sec to get over there.
wait 900
p I’m there. It looks fully automated, so no guards are nearby.
p I’m going to create an uplink for Lachesis to get in and disable to power remotely.
p Then we can–
p Damn it!
p We have guards incoming.
p I didn’t have time to contact Lachesis. She isn’t picking up for some reason.
p I had to cut the power manually. It only lasted for a minute. Hopefully Clotho made it out.
p But we need a distraction. Now. The guards are swarming near the loading bay. They may be onto us.
p I’m heading towards the barracks.
wait 600
p I’m here.
p No one’s home. Luck is holding out. For now.
p There should be a utility access panel in the back here...
p What the fuck?

chapter ../decisions/episode7
validOptions continue
- // justGo