p Good call. I’ve never really been one for skulking around in the shadows. Plus all the ninja skills in the world never stopped a bullet.

chapter ../decisions/episode7
validOptions continue
- // fencelineContinue