p Okay I’m...damn it.
p I can’t do it. Not even to a dog.
p He’s too close. I–...shit!
wait 600
p That was not fun. Rin Tin Tin decided that he wanted to take me out, even if he couldn’t see me.
p Misjudged his killing leap and knocked me into the swamp. The good news is that he wandered off when he couldn't smell me any more.

chapter ../decisions/episode7
validOptions continue
- // swapAss