p Me: Hey. Sup.
p Him: What the hell?!
p Me: The name’s Atropos, and I’m going to have to kindly ask you to exit the vehicle.
p Him: The hell I will.
p Me: Well then you got two options as I see it.
p Me: You can fight me, in which case I’ll be forced to pop you one and leave you on the roadbed.
p Me: Or you can stop right here, get out, and go have some coffee and pie, after which you can phone your bosses and tell them you were robbed.
p Me: Dealer’s choice.
p Okay, he doesn’t seem to happy about his choices. Should I just stun him and kick him out while he’s distracted[?]

chapter ../decisions/episode7
validOptions y, n
- // yesStunClotho, noDontStunClotho
- // yesStunAtropos, noDontStunAtropos