p Yeah, good call. If we do our jobs right, they’ll chalk up tonight to bad luck and technical difficulties. Course if we do it wrong, well...

chapter ../decisions/episode7
validOptions continue
- // fencelineContinue