p Because I smell like Swamp Things’s ass.
p But now I’m freezing.
p At least the coast is clear. I’m going to try and stomp some feeling back into my numb legs and  head over the rampart to the compound.
p Things couldn’t get any...
p What the actual fuck.
p Damn it. Clotho is trapped in the guard shack on the bridge. Says he can’t get out without being made.
p We need to get in and cut the power and set the distraction now or we’re dead in the water.
p (As opposed to just *smelling* like we’re dead in the water.)
p I can see the whole base from here.

chapter ../decisions/episode7
validOptions continue
- // twoOptions