p That’s it. I ducked underneath one of his ham-sized fists, then pushed off the passenger door and popped him in the jaw.
p Lights out, fucker.
p Man. My head is ringing.
p I need to get him out of here. Gonna leave him on the side of the road.
p Okay, he’s taking a nap in the bushes. Still breathing, but his jaw might be dislocated.
p The bad news is that while I was bundling him down the embankment, I caught a look at a tattoo on his neck.
p Something about it looks...wrong. I think there might be more players in this game than we thought.
p Okay, I’m back in the cab, a little worse for wear, but good to go.
p We’re in gear, and there’s Clotho. He doesn’t know I’m driving, but I’m slowing down enough for him to...
p Yes! He hopped on. We’re heading through. I’ll contact you when I’m inside.
p Okay I’m in. I’m on the east side of the base. The truck auto-parked in the loading bay when we came through the gates.
p I jumped out just inside the gate, but Clotho is trapped behind the automatic bay doors until we cut the power.
p At least he’ll be out from underfoot until then.

chapter ../decisions/episode7
validOptions continue
- // twoOptions