p I’m on top of the trailer. I can see the cab of the transpo from here.
p Oh and goody, he has the moonroof open.
p I heading in.
p He looks very surprised to see me.

chapter ../decisions/episode7
validOptions continue
- // shouldIStun