p As I see it we have two options.
p We can go north and hit the power station right away. That will let Clotho out, but will put the base on general alert.
p They might not realize we’re here, but they’ll start looking for intruders per SOP.
p Or we can go south to the troop barracks. Lachesis uploaded their schedule, and everyone is out on rotation right now.
p We can set the barracks to blow then head for the power station.
p It’ll be best to do both. What order do you want to do it in? Power station or barracks first[?]

chapter ../decisions/episode7
validOptions power station, barracks
- // powerStation, barracks