p I tap him on the shoulder. You can imagine his surprise.
p Me: Hey there.
p Him: I need backup to–!

chapter ../decisions/episode7
validOptions continue
- // warnHimContinueClotho, warnHimContinueAtropos