p So here’s the thing. I think I might be in a little bit of a jam. See, I followed the coordinates for the first cache.
p We need to crack it open like yesterday, maybe use it to counter whatever bad mojo Harcourt’s tech is causing.
p Or maybe it’s something we can use to hide all Harcourt’s tech from SILOS detection.
p Whatever it is, it’s stored smack-dab in the middle of the ruins of the Writers’ Bloc.
p That Moses. Frickin’ smartass, storing a bunch of super-sensitive information in a burnt-out library.
p So anyway I packed my ruck and hied out for the Bloc yesterday. I checked the topo in advance, planned my route and synced my GPS...
p ...and then BAM! Big ionization storm passes overhead and I lose all wayfinding.
p I just barely have communication. Satnav is out. Waypoints are out. Hell, even my compass is freaking out.
p Looks like we’re going to have to do this the old-fashioned way.
p So I gotta ask you, can you help me out on your end[?]

chapter ../decisions/episode2-b
validOptions y, n