p Uh...okay. Listen. Maybe I shouldn’t have dragged you into all this. I’m going to try and make my way on my own.
p But hey...you tried, right?
p Wish me luck.

chapter ../decisions/episode2-b
validOptions continue