p Dang it. Just...okay. Well, wish me luck out there. I think if I retrace my steps, I might be able to make it back home in one piece. 
p Thanks anyway...

chapter ../decisions/episode2-b
validOptions continue