p Hellooooo? Dang. Looks like communication is out too. It must be my birthday.
p If you *are* out there, wish me luck. I’m gonna try and find my way home.

chapter ../decisions/episode2-b
validOptions continue