p 
  ='(Lachesis) “I’m actually on my way to the Bloc myself to perform a little research.”'
p
  ='(User2) --Vocal stress patterns indicate anxiety-- “Oh yeah, what about?”'
p 
  ='(Lachesis) “There’s this new enclave you might have heard of. They’re calling it RichLand. And, well, I have some questions.”'
p 
  ='(User2) “And you think you’re gonna find them in this burnt-out husk of a city?”'
p 
  ='(User2) --Vocal stress patterns indicate proper noun use-- “I hate to break it to you, but it’s the Gone Away World out there, man, and-”'
p 
 ='(User1) --Vocal stress patterns indicate extreme exasperation-- “Dude. That’s enough.”'
p 
  ='(User1) “Sorry, I have some bad news. We just received word that the main road to the Bloc is out. Looks like we’re all going to have to turn around.”'
p 
  ='(Lachesis) “Even with that big, mechanical friend of yours? He looks like he can scale mountains.”'
p 
  ='(User1) --Laughs-- “Old Houdini here? Aw, he’s just a simple transpo bot. Carries my things for me, y’see.” --Vocal stress patterns suggest prevarication--'
p 
  ='(Lachesis) “And that big gun turret on top? Is he carrying that for you too?”'
p 
  ='(User2) “It’s an unsafe world. Who knows what kind of trouble a traveler might run into out here?”'
p 
  ='(Lachesis) “Too right. Well gents, I must bid you adieu. If the trail is out, I might as well hoof it on home. Travel safe.”'
p 
  ='(User1) “You too.”'
p Okay. Whew. They’re out of distance. 
p You should have seen that walker with them. Size of a damned oliphaunt.
p Shit shit shit. We’re made.
p Someone knew about the information store before we did, and sent their goons to get it.
p And if they have THAT information, they probably already know who *we* are. I gotta figure this out.
p Good night. I’ll be in touch.

chapter ../decisions/episode2-b
validOptions continue
