p Okay. I’m going to try and sneak up behind them. 
wait 90
p Augh. Typing is way too hard while I’m practicing my sneaksmanship. 
wait 110
p Hang on. I’m going to try and grab some video and send it to you. 
wait 500
p http://lachesis.link/3506
wait 200
p Oh man. Did you catch all that? They know about the list. The one I’m on. The one YOU’RE on. This is not good.
wait 180
p Okay, I think they’re gone. But there’s no way I can get around them and down the path. 
p We have to terminate the mission and regroup. There are some new players in the game, and we need to plan accordingly.
p I’m gonna hustle just in case they double back. 
p Catch you later.

chapter ../decisions/episode2-b
validOptions continue