p
  ='(Lachesis) “Oh, I’m just foraging for berries. Getting in touch with nature. Looking for my lost, gigantic robot dog.”'
p 
  ='(Unsub1) --Laughs-- “Oh yeah? What a coincidence. We are too.”'
p 
  ='(Lachesis) “Oh yeah? What’s her name?”'
p 
  ='(Unsub2) “We like to call her ‘Lachesis.’ She’s a funny old thing that’s always sticking her nose where it doesn’t belong.”'
p 
  ='(no audible dialogue) 0'
p 
  ='(Lachesis) --Vocal stress patterns indicate extreme wariness-- “That’s a...that’s a shame. I’ll keep my eye out for her.”'
p 
  ='(Unsub1) “That’s good. She’s been on the loose for a while, and it may just be time for her to go on home.”'
p 
  ='(Unsub2) “But you know how it is. Dog gets off her leash too many times, you gotta put her down.”'
p 
  ='(Lachesis) --Vocal stress patterns indicate dangerous stress levels-- “Oh yeah? That would be too bad.”'
p 
  ='(Unsub1) “We hope it doesn’t come to that. Well, we gotta go. You have a nice night, now.”'
p 
  ='(Lachesis) “You have a nice night, too. Oh, and fellas?”'
p 
  ='(Unsub2) “Yeah?”'
p 
  ='(Lachesis) “That dog of yours? Might wanna be careful. You never know when she might just up and rip your throat out.”'
p 
  ='(Unsub1) --Laughs-- “Well all right. You have a good night.”'
p 
  ='(Lachesis) “You too.”'
p Oh shit oh shit oh shit oh shit
p I can’t believe that just happened. Who were those guys? How do they know me?
p This is so not good. I have to go. I have to go.
p We’ll talk later. If there is a later.

chapter ../decisions/episode2-b
validOptions continue
