p Oh my gosh that’s great. Okay. Let me get my bearings and we can figure this out. 
p The treeline is really high, so I can only make out a couple landmarks. 
p But the good news is, I can make out a couple things. 
p There is a large mountain range off to my left, with a tall, snow-capped peak to the left hand side. 
p To my right and slightly behind me, I can spot a series of low bluffs in the extreme distance. 
p I’m at a three-way junction in the road. Should I take the left path, the right path, or the one behind[?]

chapter ../decisions/episode2-b
validOptions left, right, behind