p Behind it is. Hey! At least I’ll be following in my own footsteps. I’ll check back in in a little bit. 
wait 900
p Oh man. Good news. I think this is the junction I screwed up at last time. 
wait 30
p I can see a little better now, and I’m pretty sure if I go left it will take me back home. If I go right, then it’ll take me to the Bloc. 
p What do you think? Left or right[?]

chapter ../decisions/episode2-b
validOptions left, right