p Yeah. Home. Maybe I’ll come back out when I’m a little better prepared. 
p Welp. I know where I’m going. Gonna just head off towards home. We’ll talk soon. 
wait 300
p Hang on. I hear something. Something big. And not strictly human. 
p I can hear it coming down the path, straight at me. It’s like thunder, whatever it is. Huge. 
p Oh man. Should I hide or wait on the path to see what it is[?]

chapter ../decisions/episode2-b
validOptions wait, hide