p Sounds good! I think that direction is vaguely north, which *should* take me to the Bloc. 
p Heading that direction now. Will update when something worth updating happens. 
wait 900

chapter ../decisions/episode2-b
validOptions continue
