p You’re sure? Okay. Here we go. I’ll do some hiking and get back to you once I’ve made some progress. 
wait 900
p Dang it. This doesn’t look good. Hang on. 
wait 900
p Okay, so it looks like the path just dead-ends in the woods. I tried to find a way around, see if there was a path on the other side...
p ...but got nothing but a bunch of scratches and a bee sting for my pains. 
p I’m heading back to the junction. Hang on.
p Okay, I’m there again. Which path should I take this time[?]

chapter ../decisions/episode2-b
validOptions left, behind, right