p Good plan. Good solid plan. I’m heading for the underbrush.
wait 120
p Crap crap crap.
wait 90
p I don’t think they see me. Good lord it’s huge. I don’t...dammit. Hang on. 
wait 300
p Whew. Okay. It went by. Huge automated walker, the size of a small cottage. 
p Two men were with it. I heard them talking. They’re heading towards the Library, same as me.
p They said something about a “cache.” It wasn’t super sinister or anything, but that walker meant business. 
p You don’t bring a thing like that and not expect trouble. 
wait 90
p Should I follow them and see what they’re after, or should I just head home[?]

chapter ../decisions/episode2-b
validOptions home, follow