p I can’t let them know you’re on the line, so no typing. 
p I’ll try voice recognition. Stand by. 
p 
  = '(Voice ident: Unknown. Assign “Unsub1”) “-ello there.”'
p 
  = '(Voice ident confirmed: User designate “Lachesis”) “Hail and well met, fellow travelers!”'
p 
  = '(Voice ident: Unknown. Assign “Unsub2”) “Back atcha. Say, what are you doing out here on this lonely road?”'
p 
  = '(Lachesis) “I could ask you the same thing! The woods are lovely, dark and deep…”'
p 
  = '(Unsub2) “Well see, we have this big old walker and-”'
p 
  = '(Unsub1) “...but I have promises to keep, and miles to go before I sleep…”'
p 
  = '(Lachesis) --Laughs-- --Vocal stress patterns indicate relief-- “...and miles to go before I sleep! Well, it’s nice to meet a fellow lover of literature.”'
p 
  = '(Unsub1) “Indeed I am. Which is why my friend and I are headed to the Bloc. Might I assume you’re doing the same?”'
p 
  = '(Unsub2) “Or are you just wandering around enjoying the lovely, deep, dark woods?”'
p 
  = '(Near sub-audible vocalization detected from designate: Lachesis. Attempting to render.)'
p I don’t know what I should say. Should I tell them the truth or lie[?]

chapter ../decisions/episode2-b
validOptions truth, lie