p Aw, really? Because I always felt that we have had a kind of a charming back-and-forth going. 
p Like my Ma always said, “Keep your friend close and your enemies even closer. Like hugging distance. Then hug ‘em all.”
p Mysterious woman, my mom.

chapter ../decisions/episode2-b
validOptions continue