wait 900
p Holy crap there it is.
wait 30
p I can see it in the distance. The shattered spire of the Writers’ Bloc. It’s all that remains of the Great Library. 
p The greatest repository of knowledge in the world, half-destroyed by SILOS. A damn shame. 
p Wow. I’m just...hang on...
wait 60
p Damn it. Someone is coming up the path. Didn’t hear them until they were right on top of me. Two men and a big mechanical walker.

chapter ../decisions/episode2-b
validOptions continue
