p Oh jeez, thanks! I don’t know what I would have done if you weren’t there. 
p Okay, first I need to determine where I am. 
p By dead reckoning (and yikes do I ever hate that term right about now)...
p I figure I’m on the Old Trade Road just south of the Writers’ Bloc. 
p Problem is that there was a turning a few hundred meters back and I took a turn without thinking about it. 
p Now I’m not sure if I should keep going straight or double back the way I came. 
p I uploaded one of Moses's maps to the data store: http://lachesis.link/map-203 
p Maybe you can take a look at it while I wait.
p All alone.
p In the woods.
wait 120
p Did you find the map yet[?]

chapter ../decisions/episode2-b
validOptions y, n, nudge