extends ./layout-public

block body

  .homebody

    section.center

      h1.center Gonna take you on a textcapade!

    section.center

      img(src="http://andyetconf.com/img/icon-story.svg")

      p Textcapade is a 9 episode choose-your-own-adventure story created as a part of the immersive experience of <a href="">&yetConf</a>. Read more about <a href="http://andyetconf.com">&yetConf here</a> or <a href="http://blog.andyet.com/2015/08/28/conferences-are-an-art-form">read why we are doing this ridiculous thing as part of a conference</a>.

    section.center
      a(href="http://tropo.com")
        img.tropo-logo(src="https://cldup.com/DHXHFsJRTR.png", alt="Tropo")
      p &yetConf's Textcapade is sponsored by the good people at <a href="http://tropo.com">Tropo</a> and powered by the Tropo SMS API. (Thank you, Tropo!)

    section.center.callout
      p.callout-text &yetConf is a conference about the intersections of technology with humanity, meaning and ethics for people who believe the world should be better and are determined to make it so.

    section.center
      p <em>You can join the adventure by requesting a ticket to &yetConf.</em>
      form
        a.button.button-outlined-themed(href='http://andyetconf.com/#tickets') Request an &yetConf ticket

    section.center
      p Questions? Reach us at <a href="mailto:conf@andyet.com">conf@andyet.com</a>. We'd love to hear from you!

      a(href="http://andyet.com")
        img.andyet-logo(src="http://andyetconf.com/img/andyet-small.svg")