extends ./layout-public

block body

  .container
    h1 That phone number doesn't appear to be correct :/
    | Please click the back button and try again. 
    | Or, contact 
    a(href="mailto:conf@andyet.com?Subject=Help!") Our Team 
    | for help
