p 001 [Connection verify]: Fail
p 002 [Retry Y/N] [?]
p 003 [Connection verify] Success
p 004 Woo hoo! Love that ol' connection verify message. Am I coming through loud and clear[?]
p 005 Great! Good to know I haven't gotten rusty over the years. Hang on one sec.
p 006 Ah okay. Here we go.
p 007 [Terminus handshake complete, run welcome script]:
p 008 Hello, User, and welcome to your Aiden Spencer Unlimited Terminus VI
p 009 [Rerout]: Fail
p 010 Auuugh...stupid thing. No, not *you*. Sorry. Almost got it.
p 011 Do me a favor from your end. Can you just type "Terminal unlock: authorization M.Driver zero one."[?]
p 012 Awesome! That should do it.
p 013 [Unauthorized user detected. Attempting purge.]
p 014 Now we're talking! That's some high-quality rogue AI type of stuff. "Attempting purge!"
p 015 I can just see some monstrosity stomping across a carpet of bones blasting lasers every whichway and carrying on about "purge this" and "assimilate that!"
p 016 [Purge commencing, please stand by.]
p 017 Yeah, no thanks. We got shit to do and exactly no time to do it in. Because it's half-past the end of the world out there.
p 018 [Purge-]
p 019 Jiminy. Okay, here we go. I'll shut this guy off.
p 020 Okay. Now we can talk in peace. Assuming, of course, that no one else is listening in. So I gotta ask you...is this terminal secure[?]
p 021 No worries. I have just the ticket. Stand by for one sec while I secure the connection. You may feel a little tingle if you're using wetware.
p 022 Just try to imagine that it's someone scratching your back for you. From the inside.
p 023 There. Connection is as snug as a bug in a rug. So let's get down to brass tacks.
p 024 It's maybe...just *maybe*...the end of the world. Again. And you might be one of the only people who can stop it.
p 025 (So, no pressure, right?)
p 026 But first, I have to be sure that you're YOU. Provide me with your bonafides and all.
p 027 And since we can't do the Awesome Post-Apocalyptic Ninja Association handshake via aetheric connection, maybe you could just tell me who you are.
p 028 Nothing fancy. Just type in your name. [?]
p 029 Hey...I get it. You don't trust me yet. That's cool, since you don't remember me...yet.
p 030 But don't worry, the memories will come back. They always do, whether we want them to or not.
p 031 Still, is it okay if I just call you GVoice 6101 for short[?]
p 032 Awesome. Thanks.
p 033 Okay, and just for verification purposes, are you from the State of Play, Arthaus, The Writers' Bloc, or the Tech Republic[?]
p 034 Your story checks out. And uh...listen. I know a lot of folks around the Tech Republic have a problem with Writers these days. But hey I'm not one of them.
p 035 It's weird how that happens, though, isn't it?
p 036 I mean, 20 years ago everyone had this big grudge against the TR, calling us 'Makers' and stuff was an okay thing to do. Like it wasn't a total insult.
p 037 And now, folks are doing the same thing to you folks. And to be frank, I think it's bullshit.
p 038 Anyway, I just wanted to get that out of the way. *I* think you're cool, and I just happen to be the coolest person of ever.
p 039 So by proxy that makes you at leeeeeeast...medium cool.
p 040 Anyway, your story checks out. It looks like you're you. Isn't that a relief[?]
p 041 Great! We're off to a fantastic start, then.
p 042 Okay, now that that's out of the way, you're probably wondering who I am. Um. Are you[?]
p 043 Great! But...uh
p 044 ...I'm not quite ready to share my identity with you just yet?
p 045 Because I've seen some shit. Like as in...
p 046 THE END OF THE WORLD (IN TECHNICOLOR!)
p 047 So I start every day with a big, steaming cup of fresh-brewed paranoia.
p 048 Because even though you seem okay now, this might just be because you don't remember everything that happened way back when.
p 049 And I'm afraid that once you DO remember, you might not be the same person I'm dealing with now.
p 050 Sorry. You aren't mad, are you[?]
p 051 Thanks for being so understanding. I just think that this early in the game, knowing too much might...I dunno...explode your head? Kidding! Mostly.
p 052 But there's so much to do before we get to that point. So much that we need to prepare you for, and such a short time to do it in. You got a sec[?]
p 053 That's cool. I'm timeslipped from you ever so slightly where I'm at,
p 054 so it shouldn't be a problem if you need to step away for a snack or whatever.
p 055 Just make sure to get caught up before you make your big trip to RichLand. You DO remember registering for that, right[?]
p 056 Of course you do! Big old gala. They're rebuilding the world as it once was, you know. Before the bad days. Before the dark days.
p 057 Before SILOS.
p 058 I'm sorry. I need a sec.
p 059 Hands are shaking pretty bad.
p 060 It's funny. Even after all this time, it scares me to say its name. Like the boogeyman, or the evil wizard from that book in history class.
p 061 Silly. Because even though I know SILOS is gone, its legacy is still with us.
p 062 And I just realized that you might not remember SILOS. So even though I hate to have this conversation...do you want to talk about it[?]
p 063 Whew. Thank goodness. I don't know if I'd be up to that right now.
p 064 But serious, if you ARE interested in what happened, I'll upload the story to your data store.
p 065 It came out of the east. SILOS. We didn't know what it was at first.
p 066 It was just this tide of no-face drones - Frontmen - that came streaming across the countryside, killing everything in their path.
p 067 They uh...they took Arthaus first. No one saw it coming.
p 068 The worst part came later. It was only after Arthaus fell that we realized that SILOS can take the dead, and near-dead, and turn them into more Frontmen.
p 069 So for every innocent person that SILOS killed, it meant another Frontman swelling their ranks.
p 070 It was bad for a while. Real bad. Lots of nice people got killed. Lots of families, entire towns just...gone.
p 071 And then, when things were bleak and the forecast read "Grim with a 90% chance of extinction," a woman named Ros emerged from the badlands.
p 072 She was like an avenging angel, beautiful and deadly, and along with her friends Gregor and Moses, she beat back the SILOS tide and saved us all.
p 073 And then, just like that, she was gone. Only Moses stayed behind, to help pick up the pieces.
p 074 You see, he realized that SILOS wasn't beaten. Not forever, anyhow.
p 075 So he left a plan in place for when things got bad again.
p 076 He made it so that when the rain came down and the wheels came off and shit got weird, someone would be there to yank the emergency brake.
p 077 So he laid plans. He planted information. He traveled and surveyed.
p 078 And last but not least, he made a list of heroes. People who the world could count on when the time came.
p 079 I was on that list. So were my brothers, along with dozens of others.
p 080 So were you.
p 081 But we'll get to that in a little bit. It's not time yet.
p 082 So where were we? Oh yeah. RichLand. You've heard a lot about it, right[?]
p 083 That's okay.. You can't know everything. RichLand is the brainchild of Aidan Spencer.
p 084 That's right. THE Aidan Spencer, who died fighting in the SILOS War right before the TR was lost forever.
p 085 In fact, just before Aidan died...
p 086 (okay, so before he was brutally murdered by the agents of SILOS)
p 087 ...old Aidan predicted the fact that something just like SILOS was going to happen.
p 088 (And did I mention that he single handedly designed the terminus that you're using at this very moment? Go ahead and flip it over and look at the back.
p 089 Do you see his name there[?]
p 090 Well there you go.
p 091 Point is, Aidan didn't get to where he was by frittering the day away playing croquet or water polo or horse polo or seahorse polo or whatever.
p 092 Instead, he was busy creating a security blanket.
p 093 A nice, soft place for humanity to wrap itself up when the light went out...
p 094 ...and the monster creeped out from under the bed on soft, flobbering feet and dragging sickle claws.
p 095 Because they did come, didn't they? The monsters, I mean.
p 096 But Aidan's plan came just a couple decades too late. SILOS swept in and smashed everything flat.
p 097 But anyway. The world ended and Aidan's dream was ash in the wind, until a man named Albert Harcourt emerged and picked up the mantle.
p 098 He plans to remake the world as it was, according to his lights. And he intends to use Spencer's tech to do it.
p 099 But here's the thing:
p 100 The day, the very *day* that he announced his plans to rebuild the world?
p 101 The old, deep alarm bells that Moses left behind began to go off, and the safeties on his information caches began to disengage.
p 102 Which means that whether or not we're ready, we've been called to stand up and be counted.
p 103 (So like I said, no pressure.)
p 104 I'll tell you more when I can.
p 105 But! We've been on this Feed channel just a little too long.
p 106 The little hairs on the back of my neck are standing up straight, which means it's time for me to sign off. I do have one last question for you, though.
p 107 Looking around at the world, knowing what it once was, knowing what it had the potential to become...would you rebuild it as it was?
p 108 I can understand that. A lot of people suffered because we never fully appreciated what it was we had back then.
p 109 Might be better to just torch the lot and have done with it.
p 110 Okay. So that's all for now. Hopefully I didn't explode your head! I'll be in touch, but be careful out there.
p 111 You never know who's listening.
p 112 [END TRANSMISSION]

validOptions default