p Like I said before, even the gods were subject to the fates. But only one of them gave even Hades nightmares: Atropos.
p Atropos is known by many names: Morta the Inflexible. Aisa the Unturning. Anubis the Creeptastic. Every culture has an Atropos. Heck, even we do.
p We call her Death.
p But Atropos wasn’t all bad. I mean yeah, her job was to use her shears to cut the thread of life...
p ...but even the ancient Greeks understood that renewal was almost impossible without the cycle of life. 
p Which is why my brother has taken up the mantle of Atropos. He believes, like many others, that our old world was broken.
p He believes that for the cycle of renewal to begin again, we need to shed the vestiges of the old world and start completely anew. And maybe he’s right.