p Out of all the Moirai, Clotho is the most well-regarded. She was the spinner. Her job was to create the thread of human life. 
p She was the one that the ancients prayed to during pregnancy, that she might bless them and help usher forth new life.
p And one of my brothers has taken up that mantle.
p He believes we can build the world back up again from what it was. That we can remedy the mistakes of the past and do it right this time.
p My brother, Atropos, disagrees...vehemently.