p Moses himself wore the mantle of Lachesis for a good long time. Called it an honor AND a burden. 
p Because out of the three, ol’ Lache (nickname for a code name! legit.) is totally the underdog. 
p She didn’t get to spin the thread of life. And she didn’t get to snip it with some terrifying god-scissors.
p Because Lachesis was the alotter. Her job was to measure the thread and give the gift of days to humans.
p Moses passed the name to me, because he trusted me well enough to gather his heroes when the time came.
p Plus he seems to believe that I can strike a balance between the old world and the new, and to remain impartial.
p He had a lot of faith in me. I hope I live up to the task.
p I miss the old world. A lot. I would go back, if I could. But I can’t. And now I’m not so sure that the world could be saved. 
p Or even *should* be saved. 
p In fact, I’m hoping that we can figure this problem out together. 
p (So, you know, no pressure)