p But dang. I just realized that my need for secrecy creates all kinds of little problems. 
p Like as in, “How do I identify myself” and “What weird name do you call me in your address book?”
p Wait...what DO you call me in your address book[?]

chapter ../decisions/episode2-a
validOptions default
