p Great. I'll tell you about all of them. Here goes...
include ./in/clothoStory
include ./in/atroposStory
include ./in/lachesisStory
p You are now well versed in the ways of the moirai. Congrats!

chapter ../decisions/episode2-a
validOptions continue