p Anyway, Moses charged me with a lot more than a totally dope code name.
p He also left behind coordinates for his information caches and a letter explaining them. 
p You can find it in the data store here: http://lachesis.link/moses-letter
p Whatever is inside it’ll hopefully be useful in whatever weird shit is just over the horizon.
p Albert Harcourt and his people are messing with THE EXACT SAME technology which called down SILOS on our heads twenty years ago.
p I’d like to believe that things are gonna turn out different this time, but I can’t help but feel as if we’re wearing a steak suit in the lion den.
p (Best. Metaphor. Ever.)
p Okay, gonna go look for that first cache. I’ll hit you up when I find it, and then we’re going treasure hunting!

chapter ../decisions/episode2-a
validOptions continue