p You can just go ahead and call me Lachesis from now on.
p Moses chose the name pretty carefully, and it’s chock-full of historical context.
p Do you want to hear[?]

chapter ../decisions/episode2-a
validOptions y, n