p Huh. I would not have expected that. Uh...okay.
p So listen: after the end of the SILOS War, Moses Driver approached me.
p He told me all about his plans to save the world if things ever went bad again, about the information caches, all that good stuff.
p And...and! He gave me a code name. How cool is that? I mean, I always dreamt of having a code name.
p But you can’t ever pick your own! You can’t just show up at a party and be like,  “Hey, everyone! I want to be called Laser from now on.”
p Mainly because most people would be all like, “Nope. And just for suggesting that, you shall be forever called Dorkface Johnson.”
p Anyway, when Moses passed the mantle of responsibility (patent pending) on to me, he passed me his pseudonym.
p Plus the pseudonyms of his closest advisors, which I passed to my brothers.
p But anyway: new responsibilities, new identity, new code name.
p So...do you want to hear it[?]

chapter ../decisions/episode2-a
validOptions y, n
