p Awesome. Okay, so there’s this legend about these fates – or Moirai – whose job it is to determine the lifespan of humanity.
p These fates, the Moirai, were inevitable. They existed outside the standard cosmology of the Greek Pantheon. 
p Heck, even Zeus was afraid of them. Because even gods had to be born. And even gods had to die.
p Anyway, legend has it that there were three of them: Clotho, Lachesis, and Atropos.
p Which one do you want to hear about first, Clotho, Atropos, or Lachesis, or just all of them?  Or do you want to skip this part[?]

chapter ../decisions/episode2-a
validOptions clotho, atropos, lachesis, all, skip