p Well too bad, because I’m totally going to tell you anyway. Plus now I’m not going to tell you what your new nickname was going to be. 
p (Okay fine)
p I was going to call you “Laserbeams Lightningfist.”
p But you can just forget that now. 
p Anyway.

chapter ../decisions/episode2-a
validOptions continue