p What, seriously? I would have thought you’d be in Clotho’s corner for the long haul.
p Hell, maybe you can keep Atropos from killing anyone along the way. Stranger things have happened.

chapter ../decisions/episode7
validOptions continue
- // chooseAtroposBothContinue