p What, seriously? I have to admit, I’m kind of surprised. I don’t know what brought you around, but I can’t say I’m unhappy about it.

chapter ../decisions/episode7
validOptions continue
- // chooseClothoBothContinue