p That’s what I figured. You and Atropos are of a like mind.
p Just get in there and do what needs to be done, and try and keep the bloodshed to a minimum, okay?

chapter ../decisions/episode7
validOptions continue
- // chooseAtroposBothContinue