p I wish you best of luck. Find Sascha. Find out what she knows. Get Clotho back here safely.
p I’m ceasing transmission. You’ll get a call from Clotho in a sec.
p And hey...thanks.

chapter ../decisions/episode7
validOptions continue
- // endEp7Clotho