p Remember, you’re the support act for the actual rescue, okay?
p Your job is to confuse, distract, and–if need be–draw fire.
p I wish you the best of luck. Be safe, and come home in one piece.
p Okay! I’m going to get off the line. You’ll hear from Atropos soon.
p This is Lachesis signing off. Good luck...and thanks.
p (Transmission ended)

chapter ../decisions/episode7
validOptions continue
- // end