p Then this is where we part ways. I’m sorry that I’ve never been able to convince you of the importance of what we’re doing here.
p If I had, you might one day have saved us all, just like you did back during the war.
p But I can’t ask this of you if you don’t believe.
p This will probably be the last time we talk.
p If it is, I wish you good luck out there.
p The future IS coming, no matter how hard you try to ignore it.
p This is Lachesis, signing off.

chapter ../decisions/episode7
validOptions continue
- // end