p Thanks. I knew I could count on you.
p Okay, it looks like we’re going to make this a three-pronged attack.
p I am going to break into RichLand’s remote servers and try to remove some of their physical security protocols.
p Team Theta, led by Clotho, is going to coordinate an infiltration of the project’s remote data annex.
p Team Zeta, led by Atropos, is going to create a distraction nearby in order to draw attention away.

chapter ../decisions/episode7
validOptions continue
- // findSaschaYesClothoContinue
- // findSaschaYesAtroposContinue