p Sascha had been sending me information about RichLand’s development through secure back channels for months.
p And a few weeks ago, right after you and I made contact, she went dark.
p I haven’t heard from her since.
p But I have a plan.
p Can I count on your help to find her[?]

chapter ../decisions/episode7
validOptions y, n
- // findSaschaYes, endRhoSascha