p I can understand why you’d be nervous. I can’t imagine what it’s like to discover an entire life I never knew I lived.
p Still, if there’s any way you might find your way to read them, please do it.
p Because even though that person you were is a stranger to you now, it’s still YOU, for better or worse.
p Don’t forget that.

chapter ../decisions/episode7
validOptions continue
- // yesDiariesClothoContinue2
- // yesDiariesAtroposContinue2