p Do you want to join team Theta (Clotho) or Zeta (Atropos).
p [CLOTHO or ATROPOS]

chapter ../decisions/episode7
validOptions clotho, atropos
- // chooseClothoClotho, chooseClothoAtropos
- // chooseAtroposClotho, chooseAtroposAtropos