p You, and others just like you, sacrificed a great deal to stop SILOS from getting what it wanted. That’s why Moses called you a hero.
p But try as we might, we were unable to save the world. To keep it as it was.
p I talked to Clotho about you. He seems to think that you’re of a like mind with him.
p That you believe that the old world can be saved. That we can get back what we lost, but do it better this time.
p And as hard as I try to be objective, I want to believe the same.

chapter ../decisions/episode7
validOptions continue
- // yesDiariesBothContinue