p That said, the time has come to make a decision.
p See, I’ve been developing an asset in RichLand for a bit now. Goes by Sascha Zharkov.
p She’s an Artificer friend of mine from way back, before the bad old days.
p She has worked her way into Harcourt’s inner circle.

chapter ../decisions/episode7
validOptions continue
- // yesDiariesClothoContinue3
- // yesDiariesAtroposContinue3