p Atropos is convinced that Harcourt is planning something much worse than urban renewal. Something that would dwarf Aidan Spencer’s wildest ambitions.

chapter ../decisions/episode7
validOptions continue
- // findSascha