p Until people like you stepped forward and did what was right to protect others. What was necessary. Just like Moses said you would.
p But try as we might, we were unable to save the world. To keep it as it was.
p I talked to Atropos. he’s convinced that you’re going to make the right decision and side with him. He says you’re strong. I hope he’s right.
p Because we’re going to need strength going forward. Conviction. I just hope it will be enough.
p Because as much as I miss the old world, we just can’t afford to make the same mistakes again.

chapter ../decisions/episode7
validOptions continue
- // yesDiariesBothContinue