p That’s great. You can’t imagine how nervous I’ve been about returning them to you.

chapter ../decisions/episode7
validOptions continue
- // yesDiariesClothoContinue1
- // yesDiariesAtroposContinue1